<!-- Value Prop -->

<div class="container section light" id="better">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

      <h2>Why we are better</h2>

      <p>Picking a Crossfit box isn't a decision you should treat ligthly. We look at the most common quality indicators so you don't have to.</p>

      <br />

      

      <div class="columns">

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-man-lifting-weights"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">How good are the coaches?</h4>
                <span class="tile-subtitle text-gray">Truly excited and engaged coaches tend to be seeking out education opportunities.</span>
              </div>
            </div>
          </a>
        </div>

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-frame_with_picture"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">Real photos</h4>
                <span class="tile-subtitle text-gray">Everyone can make a gym look nice. Not everyone can fake a great class.</span>
              </div>
            </div>
          </a>
        </div>

      </div>

            <div class="columns">

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-calendar centered"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">When was the box founded?</h4>
                <span class="tile-subtitle text-gray">If a box has been around for years, then they probably know what they are doing.</span>
              </div>
            </div>
          </a>
        </div>

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-iphone centered"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">Does it have a social media presence?</h4>
                <span class="tile-subtitle text-gray">A gym that takes pride in what they are doing loves to showcase it.</span>
              </div>
            </div>
          </a>
        </div>

      </div>


<br />

      <h4 style="text-align:center;"><i class="em em-money_with_wings" style="font-size: 1.2em;"></i> Plus monthly pricing, drop-in info and more...</h4>
      <p></p>

    </div>
  </div>
</div>