<h1>The best Crossfit gyms in Dublin</h1>
<p>There are <strong>25</strong> affiliated Crossfit gyms in Dublin, and the average price is 190 EUR. You can find a list of the best Crossfit gyms in Dublin below, in no particular order.</p>


<div class="popover popover-bottom">
  <button>What are all these weird icons?</button>
  <div class="popover-container">
    <div class="card">
      <div class="card-header">
        Trying to get?
      </div>
      <div class="card-body">
        Well, this is awesome.
      </div>
      <div class="card-footer">
        And this is even more awesome.
      </div>
    </div>
  </div>
</div>


<div> 
  <h2><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h2>
  <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" alt="Crossfit Ireland, one of the best Crossfit gyms in Dublin" width="300"></img>
  <p>T27 Rowan Avenue Stillorgan Industrial Park</p>
  <h3>Things you should know</h3>
  <ul>
    <li>Has an L2 coach</li>
    <li>185 EUR per month</li>
    <li>Accepts drop-ins</li>
  </ul>
  <h3>Social networks</h3>
  <p>Crossfit Ireland is active in social media</p>
  <ul>
    <li>https://www.facebook.com/crossfitireland/</li>
    <li>https://www.instagram.com/crossfitireland/</li>
  </ul>
</div>

<div> 
  <h2><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h2>
  <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" alt="Crossfit Ireland, one of the best Crossfit gyms in Dublin" width="300"></img>
  <p>T27 Rowan Avenue Stillorgan Industrial Park</p>
  <h3>Things you should know</h3>
  <ul>
    <li>Has an L2 coach</li>
    <li>185 EUR per month</li>
    <li>Accepts drop-ins</li>
  </ul>
  <h3>Social networks</h3>
  <p>Crossfit Ireland is active in social media</p>
  <ul>
    <li>https://www.facebook.com/crossfitireland/</li>
    <li>https://www.instagram.com/crossfitireland/</li>
  </ul>
</div>

<div> 
  <h2><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h2>
  <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" alt="Crossfit Ireland, one of the best Crossfit gyms in Dublin" width="300"></img>
  <p>T27 Rowan Avenue Stillorgan Industrial Park</p>
  <h3>Things you should know</h3>
  <ul>
    <li>Has an L2 coach</li>
    <li>185 EUR per month</li>
    <li>Accepts drop-ins</li>
  </ul>
  <h3>Social networks</h3>
  <p>Crossfit Ireland is active in social media</p>
  <ul>
    <li>https://www.facebook.com/crossfitireland/</li>
    <li>https://www.instagram.com/crossfitireland/</li>
  </ul>
</div>

<div>
  <h4>Something looks wrong?</h4>
  <p>We are humans, so there is a slight chance that we mixed something up. If you want to correct something, submit this form. We'll prioritize your request.</p>
  <h4>Submit your box</h4>
  <p>Click here, and if it meets our standards, we'll add it to the site. Please, be as detailled as possible.</p>
</div>
