<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">CrossFit Glossary: 284 Terms <br /> You Should Know</h1>

    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-3 col-ml-auto">

    <p>CrossFit lingo can be hard to grasp at first.</p>

    <p>If it’s your first time in a CrossFit gym, you can be scared away by the strange terminology.</p>
    <p>But fair no more.</p> 

    <p>This comprehensive CrossFit glossary will help you become an expert from day one and avoid confusion in the box.  </p>

  </div>
  
  <div class="column col-xs-12 col-3 col-mr-auto">

      <div class="index-box dark">
        <h4>Table of Contents</h4>
        <ul>
          <li><a href="#general">General questions</a></li>
          <li>Workout methodologies</li>
          <li>Movements</li>
          <li>Equipments</li>
          <li>Competitons</li>
          <li>Top workouts</li>
          <li>Others</li>
        </ul>
      </div>

    </div>

  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="general">General CrossFit questions</h2>


<h3>What is the definition of CrossFit?</h4>
<p>The textbook definition is "CrossFit is constantly varied functional movements performed at high intensity."</p>
<p>In layman terms, CrossFit is a workout methodology that incorporates functional movements from different disciplines like strength training, gymnastics and sports, performed at different intensities and for varied time domains.</p>

<h3>What is a WOD?</h3>
<p>WOD, or <b>Workout Of the Day</b>, is the main body of work to be completed at the box during a CrossFit class.</p>
<p>When you arrive at your box, the Workout of the day is usually written down in a whiteboard for everyone to see, along with any warm up, mobility, core or skill work.</p>

<h3>What is RX? </h3>
<p>RX means <b>as prescribed</b>. Doing a workout "RX" means the athlete did the prescribed number of reps at the prescribed weight, inside the time cap (if any).</p>
<p>Unless you are an experienced athlete, doing a workout RX is extremely challenging.</p>

<h3>What does Scaled means?</h3>
<p>Scaling a workout means the athlete adjusted the movements, weights or repetitions to accommodate his skills, abilities and strength.</p>
<p>The magic of CrossFit is that it is challenging, but infinitely scalable. Most new athletes can't RX most of the workouts, but "scaling" is not only acceptable, but preferred.</p>
<p>Let's look at the following workout.</p>

<div class="wod-box">
<h5>AMRAP 20'</h5>
<ul>
  <li>10 T2B</li>
  <li>10 Push Press (115lbs/85lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>
If you can't do a <a href="#">T2B</a> yet, and 115 lbs is too heavy, an athlethe could lower the weights and replace the T2B with knees-to-elbows, to perform the following.
</p>

<div class="wod-box">
<h5>AMRAP 20'</h5>
<ul>
  <li>10 knees-to-elbows</li>
  <li>10 Push Press (85lbs/55lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>Scaling gives athletes the opportunity to build the required strenght or skills in a safe environment. </p>
<p>No one is expected to do a workout RX. Almost everyone scales workouts and that nobody in the box will think less of you if you scale a workout. Safety first.</p>

<h3>What is AMRAP?</h3>
<p>AMRAP, or <b>As Many Repetitions as Possible</b>, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20" of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity. </p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>What is EMOM?</h3>
<p>EMOM, or <b>Every Minute on Minute</b>, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>
<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be</p>

<div class="wod-box">
<h5>10' EMOM</h5>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls(20lbs/14lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth.</p>
<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It's commonly used for strength and skills training.</p>

<h3>What is Rounds for Time?</h3>
<p><b>Rounds for Time</b>, or RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>
<p>
In this case, the athlete does the prescribed reps/rounds/movements until they have finished or the cap time runs out and the workout stops. 
</p>

<div class="wod-box">
<h5>5 RFT</h5>
<ul>
  <li>20 calories in Row</li>
  <li>10 T2B</li>
  <li>5 C&J (95lbs/55lbs)</li>
</ul>
</div>


<h3>What are the CrossFit Games?</h3>
<p>The CrossFit games is an athletic competition in which the top 40 men and women from around the world compete across three days to become The Fittest Man and Fittest Woman on Earth.</p>
<p>The first CrossFit Games were performed in Aromas, California on a small ranch owned by the family of Games director Dave Castro and it was open to anyone who assisted. When it started gaining traction, they introduced a qualifier and moved the Home Depot Center (later called the StubHub Center) in Carson, California. After seven years in California, the CrossFit games moved to the Alliant Energy Center in Madison, Wisconsin.</p>
<p>To compete in the Games, you first need to qualify in the Open, which takes you to Regionals. Then, the top athletes from each regional event advance to the CrossFit Games, which are held over three days in July or August.</p>

<h3>What is a Crossfit Box? </h3>
<p>A CrossFit box is simply, a CrossFit gym. It's a dedicated, affiliated box that has all the appropriate equipment necessary to perform WODs. </p>
<p>As an outsider, it might look like an "empty" gym because it doesn't have all the bells, whistles and bicep curls machine you'd expect from a gym.</p>

<h3>What is a 21 15 9 workout?</h3>
<p>21 15 9 is a popular repetition scheme in CrossFit. The athlete needs to perform 21 reps of the prescribed workout, then 15 reps and finally, 9 reps, for a total of 45 reps of each exercise. The score is the time it took you to complete the workout.</p>

<div class="wod-box">
<h5>"Diane" - 21 15 9</h5>
<ul>
  <li>Deadlift (225lbs/155lbs)</li>
  <li>Handstand Push-Ups</li>
</ul>
</div>

<p>The structure is based on the "decay rate" – as you get tired, you can do less work as the load remains the same.</p>

<h3>What is Fran?</h3>
<p>Fran is a short, intense <a href="#">couplet</a> of Thrusters and Pull ups in a 21-15-9 format. For men, the weight is 95 lbs, while for women is 65 lbs. 

<div class="wod-box">
<h5>"Fran" - 21 15 9</h5>
<ul>
  <li>Thrusters (95lbs/65lbs)</li>
  <li>Pull ups</li>
</ul>
</div>

<p>To break it down:</p>

<ul>
<li>21 thrusters with 95 lbs for men and 65 lbs for women.
<li>21 pull ups.
<li>15 thrusters with 95 lbs for men and 65 lbs for women.
<li>15 pull ups.
<li>9 thrusters with 95 lbs for men and 65 lbs for women.
<li>9 pull ups.</li>
</ul>

<p>It's one of CrossFit most famous benchmark workouts, and part of <a href="#">The Girls</a>. Professional athletes can do Fran as prescribed in around 2 minutes, while an everyday athlete should be able to perform Fran in around 5 or 6 minutes.</p>

<ul>
<li>10:00+ Beginner
<li>10:00-4:30 Intermediate
<li>4:30 – 3:00 Advanced
<li>3:00 or less Elite</li>
</ul>

<p>
Fran was one of the first workout created by Greg Glassman.
</p>

</div>
</div>
</div>


<!--- Change ---->

<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2>Workout Methodologies</h2>


<h3>21 15 9</h3>
<p>21 15 9 is a popular repetition scheme in CrossFit. The athlete needs to perform 21 reps of the prescribed workout, then 15 reps and finally, 9 reps, for a total of 45 reps of each exercise. The score is the time it took you to complete the workout.</p>

<div class="wod-box">
<h5>"Diane" - 21 15 9</h5>
<ul>
  <li>Deadlift (225lbs/155lbs)</li>
  <li>Handstand Push-Ups</li>
</ul>
</div>

<p>The structure is based on the "decay rate" – as you get tired, you can do less work as the load remains the same.</p>

<h3>AMRAP or As Many Repetitions as Possible</h3>
<p>AMRAP, or <b>As Many Repetitions as Possible</b>, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20" of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity. </p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>EMOM, or Every Minute on Minute</h3>
<p>EMOM, or <b>Every Minute on Minute</b>, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>
<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be</p>

<div class="wod-box">
<h5>10' EMOM</h5>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls(20lbs/14lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth.</p>
<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It's commonly used for strength and skills training.</p>

<h3>RFT or Rounds for Time</h3>
<p><b>Rounds for Time</b>, or RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>
<p>
In this case, the athlete does the prescribed reps/rounds/movements until they have finished or the cap time runs out and the workout stops. 
</p>

<div class="wod-box">
<h5>5 RFT</h5>
<ul>
  <li>20 calories in Row</li>
  <li>10 T2B</li>
  <li>5 C&J (95lbs/55lbs)</li>
</ul>
</div>

<h3>Reps or Repetitions</h3>
<p>The number times a movement is to be performed/repeated at a time.</p>

<h3>Sets</h3>
<p>The number of times you will perform the indicated number of reps. </p>

<h3>Tabata </h3>
<p>Tabata is a High Intensity Interval Training methodology that consists in working out at maximum intensity for twenty seconds, resting for ten and repeating that for a total of eight rounds.
</p>

<ul>
<li>Work out hard for 20 seconds</li>
<li>Rest for 10 seconds</li>
<li>Complete 8 rounds</li>
</ul>

<p>Tabata was was discovered by a team of Japanese researchers from the National Institute of Fitness and Sports in Tokyo, who demonstrated that this style of training has a fantastic impact in aerobic and anaerobic capacity. </p>
<p>In CrossFIt, Tabata is often used as a warmup, but it can also be programmed as the main WOD.</p>

<h3>Cap time</h3>
<p>Cap time is the maximum time you have to perform a prescribed set of exercises.  It's usually related to a <a href="#">Rounds for Time</a> workout.</p>

<div class="wod-box">
<h5>5 RFT, 16' Cap</h5>
<ul>
  <li>10 sit-ups</li>
  <li>15 power snatches</li>
  <li>20 wall ball shots</li>
</ul>
</div>

<p>In this case, the workout finishes when you complete five rounds, or the clock hits 16 minutes.</p>

<h3>The Girls</h3>
<p>The Girls are a special group of CrossFit benchmark workouts. When asked why name workouts after girls, CrossFit founder Greg Glassman responded:</p>
<p>"I thought that anything left you flat on your back looking up to the sky asking, 'what just happened,' deserved a female name."</p>
<p>The original girls are: 
</p>
  <ul>
  <li>Angie</li>
  <li>Barbara</li>
  <li>Chelsea</li>
  <li>Diane</li>
  <li>Elizabeth</li>
  <li>Fran</li>
  <li>Grace</li>
  <li>Helen</li>
</ul>

<h3>The Heroes</h3>
<p>The Heroes are a special group of CrossFit benchmark workouts. They were created in honor of a fallen soldier, normally Americans. As a result, they are intended to be performed with intense effort, in honor of our fallen Heroes. </p>
<p>Don't think of yourself. Instead think about the Hero.</p>
<p>The most well-known hero workout is Murph, In memory of Navy Lieutenant Michael Murphy, 29, of Patchogue, N.Y., who was killed in Afghanistan on June 28th, 2005. </p>

<div class="wod-box">
<h5>"Murph" - For time</h5>
<ul>
  <li>1 mile Run</li>
  <li>100 pull ups</li>
  <li>200 push ups</li>
  <li>300 air squats</li>
  <li>1 mile Run</li>
</ul>
<p>Partition the pull-ups, push-ups, and squats as needed. Start and finish with a mile run. If you've got a twenty pound vest or body armor, wear it.</p>
</div>


<h3>Chipper</h3>
<p>A workout format that must be completed in linear fashion from start to finish. Chippers are usually for time, but there are no "rounds". Simply start at the top, and stop once everything is completed.</p>

<div class="wod-box">
<h5>"Fat Amy" - For time</h5>
<ul>
<li>50 Air Squats</li>
<li>10 Burpees</li>
<li>40 Sit-Ups</li>
<li>10 Burpees</li>
<li>30 Lunges (alternating legs)</li>
<li>10 Burpees</li>
<li>20 Kettlebell Swings (1.5/1 pood)</li>
<li>10 Burpees</li>
<li>10 meter Bear Crawl</li>
<li>10 Burpees</li>
<li>20 Kettlebell Swings (1.5/1 pood)</li>
<li>10 Burpees</li>
<li>30 Lunges (alternating legs)</li>
<li>10 Burpees</li>
<li>40 Sit-Ups</li>
<li>10 Burpees</li>
<li>50 Air Squats</li>
</ul>
</div>

<h3>Bear Complex</h3>

<p>According to <a href="https://www.muscleandstrength.com/workouts/the-bear-barbell-complex.html">Muscle and Strength</a>, the Bear Complex consists of 5 barbell exercises performed back to back without resting. Each exercise flows naturally into the next.
</p>

<ul>
<li>1 Power clean</li>
<li>1 Front squat</li>
<li>1 Push press</li>
<li>1 Back squat</li>
<li>1 Push press</li>
</ul>

<p>Perform that seven times, and that's one round. The Bear Complex workout consists of five rounds. This workout can be used in off-days, as a warm up or to build strength.
</p>

<h3>DT </h3>
<p>DT, originally a Hero Wod, is barbell complex that consists of the following.</p>

<ul>
<li>12 deadlifts</li>
<li>9 hang power cleans</li>
<li>6 push jerks</li>
</ul>

<p>This Hero WOD was first posted on the main site as the workout of the day for Tuesday, April 14, 2009, and now it's a popular workout structure.</p>

<div class="wod-box">
<h5>"DT" - 5 RFT</h5>
<ul>
<li>12 deadlifts</li>
<li>9 hang power cleans</li>
<li>6 push jerks</li>
</ul>
</div>

<h3>Couplet</h3>
<p>A couplet is a workout structure that pairs two functional movements—in most cases, belonging to different modalities like weightlifting, gymnastics or cardio, and training different muscle groups.</p>
<p>By targeting different modalities and muscle groups, a couplet allows one area to "rest" for the while the other movement is performed.</p>

<div class="wod-box">
<h5>3 RFT</h5>
<ul>
<li>Run 800m</li>
<li>9 muscle ups</li>
</ul>
</div>

<h3>Triplet</h3>
<p>A triplet is a workout structure that pairs three functional movements. As in a couplet, these exercises should be complementary.</p>
<p>A common triplet might consist of one weightlifting exercise, one gymnastics movement and one cardio movement.</p>

<div class="wod-box">
<h5>"21-15-0</h5>
<ul>
<li>Front squats</li>
<li>C2B</li>
<li>Run 200m</li>
</ul>
</div>

</div>
</div>
</div>

<!--- Change ---->

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2>Top workouts</h2>


<h4>Fran</h4>


<p>
Fran is a short, intense <a href="#">couplet</a> of Thrusters and Pull ups in a 21-15-9 format. For men, the weight is 95 lbs, while for women is 65 lbs. To break it down:
</p><ul>

<li>21 thrusters with 95 lbs for men and 65 lbs for women.
<li>21 pull ups.
<li>15 thrusters with 95 lbs for men and 65 lbs for women.
<li>15 pull ups.
<li>9 thrusters with 95 lbs for men and 65 lbs for women.
<li>9 pull ups.</li></ul>

<p>
It's one of CrossFit most famous benchmark workouts, and part of <a href="#">The Girls</a>. Professional athletes can do Fran as prescribed in around 2 minutes, while an everyday athlete should be able to perform Fran in around 5 or 6 minutes. These 
</p><ul>

<li>10:00+ Beginner
<li>10:00-4:30 Intermediate
<li>4:30 – 3:00 Advanced
<li>3:00 or less Elite</li></ul>

<p>
Fran was one of the first workout created by Greg Glassman.
</p>
<h4>Murph</h4>


<p>
"Murph" is, probably, the most well-known Hero WOD in CrossFit. It was originally posted on the main site as the workout of the day for Thursday August 18, 2005 and it has become a staple to perform it on Memorial Day in the US.
</p>



<pre class="prettyprint">For Time
1 mile Run
100 Pull-ups
200 Push-ups
300 Squats
1 mile Run

Partition the pull-ups, push-ups, and squats as needed. Start and finish with a mile run. If you've got a twenty pound vest or body armor, wear it.</pre>


<h4>Fight Gone Bad</h4>


<p>
Fight Gone Bad is a benchmark WOD that tries to simulate the time structure of an MMA fight – 5 minutes on, 1 minute rest. 
</p>



<pre class="prettyprint">Fight Gone Bad - 5 Rounds 

Wallball Shots
Sumo Deadlift High-Pull with 75 lbs. For men and 45 lbs for women.
Box jump
Push Press with 75 lbs. For men and 45 lbs for women.
Calories in rower

Move from each station after a minute. Rest one minute after completing the give. Repeat five times. The clock does not reset or stop between exercises, and the score is the total number of reps (and calories) performed.</pre>


<p>
Fight Gone Bad was named after BF Penn, a professional fighter who, after going through the workout for the first time, said that it compared to a "fight gone bad."
</p>
<h4>Grace</h4>


<p>
Grace, or Amazing Grace, is one of the original Girls workouts. It's a short, simple but extremely intense workout consisting of 30 clean-and-jerks, for time. 
</p>



<pre class="prettyprint">For Time - Time Cap 8'
30 Clean-and-Jerks (135/95 lb)

Power cleans or full cleans are acceptable</pre>


<p>
This workout was designed to be a sprint, but considering it's only one movement, avoid going to failure. Instead, start at a slow but steady pace. 
</p>
<p>
Elite level athletes perform Grace unbroken in under two minutes. For everyday athletes, a sub-five minute time is something to be proud of. 
</p>
<h4>Cindy</h4>


<p>
Cindy, as Grace, is one of the original Girls workouts, posted on the main site on Saturday, May 14, 2005.
</p>



<pre class="prettyprint">AMRAP in 20 minutes
5 Pull-Ups
10 Push-Ups
15 Air Squats</pre>


<p>
Cindy is a 20 minute AMRAP of constant action. Movements are not technical or demanding, but the volume is extremely taxing on your heart rate. 
</p>
<p>
Good, everyday athletes should be able to perform 20+ rounds, while elite and professional athletes tend to do between 30 and 35 rounds. In the 2009 CrossFit games, Chris Spealler destroyed Cindy with 38 rounds.
</p>
<h2>Movements</h2>


<h3>Weightlifting</h3>


<h4>Clean</h4>


<p>
The clean is the foundation of weightlifting. It starts with the barbell on the ground, just like a deadlift, and ends when the barbell is resting on the front rack position, and the athlete is standing up.
</p>
<p>
Contrary to what you might think, the clean is executed mostly with the legs, not the arms, by extending explosively and raising the bar as high as possible before quickly dropping into a squat below the bar and receiving on the shoulders. 
</p>
<h4>Power Clean</h4>


<p>
The power clean is like a regular clean but requires the athlete to receive the bar in the power position – a slight dip that doesn't break the legs parallel – and not the squat position.
</p>
<h4>Hang Power Clean</h4>


<p>
The hang power clean is like a regular power clean, but instead of starting with the barbel on the floor, it requires the athlete to start the movement from the knees, more commonly referred as the hanging position.
</p>
<h4>Jerk</h4>


<p>
The jerk is an overhead movement that requires the athlete to start with the barbell in the front rack, and finish the movement receiving overhead with straight arms. 
</p>
<p>
<em>The lifter dips a few inches by bending the knees, keeping the back vertical, and then explosively extends the knees, propelling the barbell upward off the shoulders, and then quickly dropping underneath the bar by pushing upward with the arms and receiving the bar overhead, in a dip position.</em>
</p>
<h4>C&J </h4>


<p>
The C&J, or Clean & Jerk, combines a power clean or squat clean with a push jerk or split jerk. 
</p>
<h3>Gymnastics</h3>


<h4>MU</h4>


<p>
MU, or muscle-up is an upper-body exercise performed in the rings that requires you to combine a pull and a dip. 
</p>
<p>
A muscle up starts with the arms extended, hanging from the gymnastic rings. You then explosively pull using your arms and when the rings approach the lower chest, the body leans forward and perform a dip. A muscle up is ends when the bar is at the level of the waist and the arms are fully straight.
</p>
<p>
The muscle up is a rare beast that requires both pulling and pushing power and phenomenal core strength.
</p>
<p>
/img
</p>
<h4>BMU</h4>


<p>
The BMU, or bar muscle-up is like the aforementioned muscle up, but instead of performing it in a set of gymnastic rings, you do it in the regular pull-up bar.
</p>
<p>
The movement beings from the floor, hanging from the pull-up bar, and ends with the athlete over the bar, and the arms fully locked.
</p>
<p>
/img
</p>
<h4>HSPU</h4>


<p>
A handstand push up, or more properly, a kipping handstand push up is a dynamic movement that requires you to explode your hips up while pushing upside down, into a handstand.
</p>
<p>
A kipping handstand push-ups will allow you to get in way more volume than the strict version does.
</p>
<p>
/img
</p>
<h4>sHSPU</h4>


<p>
A strict handstand push up, unlike the kipping version, requires to perform the movement by pushing up with your arms, without using the hips. 
</p>
<p>
A true handstand pushup is technically performed free-standing. In CrossFit, both the strict and kipping handstand pushup are done against a wall.
</p>
<h3>Conditioning</h3>


<h4>T2B</h4>


<p>
You will start out with your hands a little further than shoulder-width apart on the bar. Then, you will lift your toes to touch the bar using your core muscles. You may also kip this movement. 
</p>
<h4>K2E</h4>


<p>
Knees to elbows
</p>
<h4>OHS</h4>


<p>
Completing a full squat with the barbell in the overhead position
</p>
<h4>TGU</h4>


<p>
Turkish getups
</p>
<h4>SDHP</h4>


<p>
Sumo deadlift high pull
</p>
<p>
eeping a narrow grip on the bar and your feet more than shoulder width apart, lift the bar to the middle of your chest. Your hips and shoulders should rise simultaneously and you should initiate the movement with a shrug, followed by a pull. The lift is complete when you're at full extension. For a video demonstration of a sumo deadlift high pull, click here.
</p>
<h4>HRPU</h4>


<p>
Hand release push up
</p>
<h3>Thruster</h3>


<p>
 Starting with your barbell in the front rack position, you will do a full squat and then come to full extension while pushing the bar overhead. Your feet will be shoulder-width apart and your grip should be slightly outside of your shoulders. Your elbows should not touch your knees during this movement. For a video demonstration of a thruster, click here.
</p>
<h4>PU - pullup</h4>


<p>
Kipping
</p>
<p>
Strict Pullup
</p>
<p>
Starting on the ground, hands on the bar, without kipping. up, you start underneath the rig with hands a little further than shoulder width apart on the bar. You then engage your shoulders, core, lats and delts and pull yourself over the bar. For a video demonstration of a pull up, click here.
</p>
<p>
Push Up – You start out flat on the ground with each shoulder a little outside of each shoulder with your palms flat against the ground. You then engage your core and glutes and push your body up off the ground while staying tight and parallel before lowering yourself back down. For a video demonstration of a push up, click here.
</p>
<h4>DL - deadlift</h4>


<p>
The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the level of the hips, then lowered to the ground.[1] It is one of the three powerlifting exercises, along with the squat and bench press.
</p>
<h4>BS</h4>


<p>
Back squar Completing a full squat with the barbell resting on the back of your shoulders.
</p>
<p>
the squat is a compound, full body exercise that trains primarily the muscles of the thighs, hips and buttocks, quadriceps femoris muscle (vastus lateralis, vastus medialis, vastus intermedius and rectus femoris), hamstrings, as well as strengthening the bones, ligaments and insertion of the tendons throughout the lower body. Squats are considered a vital exercise for increasing the strength and size of the legs as well as developing core strength. Isometrically, the lower back, the upper back, the abdominals, the trunk muscles, the costal muscles, and the shoulders and arms are all essential to the exercise and thus are trained when squatting with the proper form.[1] 
</p>
<h4>FS</h4>


<p>
Front squat. Completing a full squat with the barbell in the front rack position. 
</p>
<h4>BP - bench press</h4>


<p>
A man performs a barbell bench press while another spots him.
</p>
<p>
The bench press is an upper body strength training exercise that consists of pressing a weight upwards from a supine position. The exercise works the pectoralis major as well as supporting chest, arm, and shoulder muscles such as the anterior deltoids, serratus anterior, coracobrachialis, scapulae fixers, trapezii, and the triceps. A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.[1]
</p>
<h4>Power Snatch –</h4>


<p>
he bar will start on the ground and you will grip it with a wide grip, also known as a snatch grip, while positioning your feet shoulder width apart. You will perform a slow pull to mid-thigh, where you will then "explode" and throw your hips forward, dropping quickly underneath the bar and then pressing it out overhead. You should use a hook grip for this lift. F
</p>
<p>
Kipping
</p>
<h4><strong>Hang Position</strong> – Starting a lift from the knees.</h4>


<h4><strong>High Hang Position</strong> – Starting a lift from the hip pocket.</h4>


<h4>DUs - double unders</h4>


<p>
Like a regulr jump rope, but swinging the ropes two times for every jump.
</p>
<h4>Pistols</h4>


<p>
 You will start in the standing position and then slowly (or quickly if you're good at them) drop down on one foot while keeping the other leg straight and extended in front of you, and then stand back up. For a video demonstration of a pistol, click here.
</p>
<h4>C2B</h4>


<p>
Chest to bat is like Chest to Bar Pull Up – Like the name suggests, this is a pull up where your chest much touch the bar for the rep to count.
</p>
<h4>GTOH</h4>


<p>
Ground to overhead
</p>
<h4>STOH</h4>


<p>
Shoulder to over head
</p>
<h4>KBS or RKBS</h4>


<p>
A Russian kettle bell is a movement where you begin with your feet hip-width apart. You grasp the kettle bell by its handle with both hands and hang it between your legs. Then, you thrust your hips forward and use the momentum to swing the kettle bell to eye level before dropping it between your legs again. Your spine should stay neutral and your force should come from your hips and quads.
</p>
<h4>AKBS or AMS</h4>


<p>
 A kettle bell is actually a piece of equipment, but when CrossFitters refer to kettle bells in a WOD, they are referring to a movement where you begin with your feet hip-width apart. You grasp the kettle bell by its handle with both hands and hang it between your legs. Then, you thrust your hips forward and use the momentum to swing the kettle bell over your head. For a video demonstration of a kettle bell, click  here.
</p>
<h4>Ring dips</h4>


<p>
Ring Dips – Performed by holding yourself up on gymnastic rings and then dipping, or bringing your shoulders to your hands.
</p>
<h4>Rope climb</h4>


<p>
 Climbing a rope. Think of high school gym days.
</p>
<h4>Shoulder press</h4>


<p>
 Moving the bar from the front rack position to overhead without bending your knees or using your legs.
</p>
<h4>Push press</h4>


<p>
The push press is a powerful strength-training move that targets your shoulders, using a kickstart from your hips and thighs. Olympic lifters often use the move to complement their training, as it can improve technique and power in the snatch and clean and jerk. 
</p>
<p>
Box Jumps – For a box jump over, you will start on the ground with your feet shoulder width apart. Boxes come in various sizes, the most common being 12 inches, 20 inches, 24 inches and 30 inches. To complete a box jump, you will start on one side of the box and jump on top of it, landing with both feet and standing all the way up with your hips fully extended. For a video demonstration for how to do a box jump, click here.
</p>
<p>
Box Jump Overs – For a box jump over, you will start on the ground with your feet shoulder width apart.Boxes come in various sizes, the most common being 12 inches, 20 inches, 24 inches and 30 inches. You will jump on the top of the box, making sure both feet touch before stepping or hopping down to the other side. In a box jump over, a full hip extension is not required.
</p>
<p>
your hands on the ground in front of you shoulder width apart, pulling your body down to a pull up position. Your chest and thighs must touch the floor and your feet cannot come off the ground unless you are modifying the burpee. You will then jump and bring your feet to your hands before jumping. Although you will end up in a full standing position, a burpee is not considered valid if you do not jump as you come up off the floor and clap your hands above your head. For a video demonstration of a burpee, click here.
</p>
<p>
Burpee Box Jumps – Do a burpee and then jump onto the box and over to the other side for one rep. Full extension is not required at the top of the box unless otherwise specified in the WOD or by your coach.
</p>
<p>
GHD Sit Ups – Short for glute/ham developer, most CrossFit gyms have GHD machines, which you'll use for GHD sit ups, hip extensions and back extensions. For a video demonstration of a GHD sit up, click here.
</p>
<p>
Goblet Squat – completing an air squat while holding a kettlebell or dumbell at the center of your chest
</p>
<p>
all Balls – To perform a wall ball, you will start below your target with your feet shoulder-width apart. You will take a large med ball and hold it between your hands in front of your face. Without dropping your shoulders or chest, you will perform a full squat and then go immediately back into the standing position while throwing the ball at the target. For a video demonstration of wall balls, click here.
</p>
<h4>Snatch</h4>


<p>
The objective of the snatch is to lift the barbell from the ground to overhead in one continuous motion. There are four main styles of snatch used: squat snatch (or full snatch), split snatch, power snatch, and muscle snatch. The squat snatch and split snatch are the most common styles used in competition while power snatch and muscle snatch are mostly used for training purposes.
</p>
<p>
In the squat snatch, the lifter lifts the bar as high as possible and pulls themselves under it in a squat position, receiving the bar overhead with the arms straight, decreasing the necessary height of the bar, therefore increasing the amount of weight that the lifter may successfully lift.
</p>
<p>
In the split snatch, the lifter lifts the bar as high as possible and pulls themselves under the bar similar to the squat snatch but in the split snatch the lifter "splits" his legs, placing one foot in front of them and one behind, allowing themselves to receive the bar lower as in the squat snatch. The split snatch has become much less common with the increased popularity of the squat snatch but is occasionally performed by some lifters.
</p>
<p>
In the power snatch, the lifter lifts the barbell as high as possible and receives the bar overhead with only a slight bend in the knee and hip, increasing the height that the bar must be lifted and decreasing the amount of weight that may be successfully lifted.
</p>
<h4>Kipping</h4>


<p>
Kipping means you buck or jerk with your whole body to increase the momentum up to the bar. Please read some of the other posts for some great descriptions and watch some of the video clips. 
</p>
<h2>Equipment</h2>


<h4>Kettlebell</h4>


<p>
According to <a href="https://en.wikipedia.org/wiki/Kettlebell ">Wikipedia</a>, the kettlebell is a cast-iron or cast steel weight (resembling a cannonball with a handle) used to perform all types of exercises.
</p>
<p>
In CrossFit, kettlebells can be used in multiple ways – russian swings, american swings, goblet squats, ab twists and more.
</p>
<h4>Pood</h4>


<p>
Pood is a unit of mass equal to 16.38 kilograms, or 36.11 pounds. It was used in Russia, Belarus, and Ukraine, and it's still used when referring to kettlebell weights. For instance, a 32 kilogram kettlebell is "two pood kettlebell".
</p>
<h4>Barbell</h4>


<p>
A barbell is a long metal bar built to hold discs of varying weights attached to each end, used in olympic lifting, weightlifting, powerlifting and CrossFit. 
</p>
<p>
The men's olympic barbell weights 20kg, or 43 pounds, while the women's olympic barbell weight 15kg or X pounds. 
</p>
<p>
/image
</p>
<p>
Most gyms also have lighter bars for training. 
</p>
<h2>Others</h2>


<h4>RM </h4>


<p>
RM, rep max, or repetition maximum refers to the maximum weight you can lift in a certain movement, for the prescribed number of repetitions. 
</p>
<p>
For instance, a 1RM Snatch, or one repetition maximum of snatch is the maximum weight you can snatch one time. In CrossFit, it's common to see 3RM, or three repetition maximums as well, which means the maximum weight you could lift three times, unbroken. 
</p>
<h4>PR</h4>


<p>
In Crossfit, PR stands for Personal Record. This can refer to a maximum weight you've been able to lift, a benchmark workout you've finished faster than ever before or a maximum number of unbroken repetitions of a specific movement. 
</p>
<h4>DOMS</h4>


<p>
DOMS, or Delayed Onset Muscle Soreness, is a distinctive muscle pains that start around a day or two after someone performs intense or unfamiliar exercise.  
</p>
<p>
Usually, there's a 24 hour delay between a workout and the start of the pain, or "muscle fever". It peaks 48 hours after said exercise, and can last for a couple more days.
</p>
<p>
It's not something strictly related to Crossfit. You can get DOMS by doing almsot anything – biking, rowing, playing soccer. But due to the intensity with which Crossfit is performed, you'll get familiar with it pretty soon.
</p>
<h3>Box</h3>


<p>
A box, also referred as an affiliate, is a CrossFit-affiliate gym that contains all the necessary material to perform a CrossFit workout. 
</p>
<h3>BW or Bodyweight</h3>


<p>
BW stands for bodyweight, and in CrossFit, it's often used to prescribe weights in a workout. For example, Otis, a hero WOD, calls for the weight to be measured in body weight.
</p>



<pre class="prettyprint">AMRAP in 15 minutes
Back Squat (1½ bodyweight)
Shoulder Press (¾ bodyweight)
Deadlift (1½ bodyweight)
Start with 1 rep each. Increase each by 1 rep per round.</pre>


<h4>Pukie The clown</h4>


<p>
Pukie The Clown, CrossFit's mascot, is a cartoon of a CrossFit athlete who has vomited after a  workout. 
</p>
<p>
The cartoon suggests that CrossFit should be performed at maximum intensity, past the point of no return, for it to be effective. This "motto" is slowly being discontinued in the CrossFit community.
</p>
<h4>Uncle Rhabdo</h4>


<p>
Uncle Rhabdo is Pukie's even more stupid cousin –  a clown who has contracted rhabdomyolysis, and is hooked up to a dialysis machine.
</p>
<p>
Don't confuse rhabdomyolysis with DOMS. Rhabdomyolysis is an extremely serious condition resulting from over-exhaustion of the muscles, and should be treated in a hospital. 
</p>
<h4>Ass to grass</h4>


<p>
Ass to grass refers to getting your butt as low as possible (to grass) when performing any kind of squat. The goal is to obtain strength through the whole range of motion. 
</p>
<h2>CrossFit Competitions</h2>


<h4>CrossFit Open </h4>


<p>
The CrossFit Open is a worldwide competition that takes place each year in which the entire CrossFit community competes for a spot in the Regionals.
</p>
<p>
The Open is the first step to the CrossFIt games, but not everyone who does it is an elite athlete. In 2017, more than 500,000 athletes entered to compete, most of them regular, every day gym goers who enjoy the community event. 
</p>
<p>
It was introduced in 2011, and is held held over five weeks in February–March. The workout for the week is released on Thursday night, on a live event, and then athletes have until Monday afternoon to submit their scores via video or do the workout in front of a certified judge.
</p>
<p>
Open workouts are named after the year, and the sequence they were released in. For instance, the second Open workout of 2016 is called 16.2.
</p>
<p>
According to CrossFit.com, in "2011, 26,000 athletes signed up to compete in the Open. In 2012–2017, participation was 69,000, 138,000, 209,000, 273,000, 324,307, and 380,000 respectively."
</p>
<h4>CrossFit Regionals</h4>


<p>
The Crossfit Regionals is the second step on the way to the CrossFit games. Top athletes from around the world compete in their region for the opportunity to go to the Reebok CrossFit Games.
</p>
<p>
When doing the Open, competitors are categorized into 18 regions, depending on whether they train. This will decide in which regional someone will compete for a spot in the Games. After all Open workouts, performance is ranked and verified, and the top athletes advance to Regionals. 
</p>
<p>
Even though regions vary every year according to performance and traction, there are usually eight Regional competitions. 
</p>
<h4>The CrossFit Games</h4>


<p>
The CrossFit games is an athletic competition in which the top 40 men and women from around the world compete across three days to become The Fittest Man and Fittest Woman on Earth.
</p>
<p>
The first CrossFit Games were performed in Aromas, California on a small ranch owned by the family of Games director Dave Castro and it was open to anyone who assisted. When it started gaining traction, they introduced a qualifier and moved the Home Depot Center (later called the StubHub Center) in Carson, California. After seven years in California, the CrossFit games moved to the Alliant Energy Center in Madison, Wisconsin.
</p>
<p>
To compete in the Games, you first need to qualify in the Open, which takes you to Regionals. Then, the top athletes from each regional event advance to the CrossFit Games, which are held over three days in July or August.
</p>
<h4>CrossFit Invitational</h4>


<p>
The CrossFit Invitational Series is akin to the CrossFit World Cup, a competition where the best athletes from each country form teams and compete between each other. 
</p>
<p>
Right now, the CrossFit invitational features four teams, including men and women:
</p><ul>

<li>Usa
<li>Europe
<li>Pacific
<li>Canada</li></ul>

<h4>CrossFit Team Series</h4>


<p>
Teams that compete in the CrossFit games are bound by rules — they must workout at the same gym and things of that nature. The CrossFit Team Series is more of a Fantasy-type competition where athletes from all over the world pair up into teams and compete against one another. This competition is similar to the Invitational except that anyone can sign up to compete and athletes aren't regulated by what country they live in.
</p>
<h4>CrossFit Lift Off Series</h4>


<p>
A series similar to the Open in that it can be done in home gyms and is judged via videos. Beginning in November, athletes compete in three weightlifting events to see where they stand against other CrossFitters around the world in regards to the weight they can lift.
</p>
<h2>Wrapping Up the Crossfit Glossary</h2>


<p>
I hope this CrossFit glossary helps you understand everything you need to know about CrossFit, even if you've never done it in your life.
</p>


</div>
</div>
</div>





    

