<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">CrossFit Glossary: 284 Terms <br /> You Should Know</h1>

    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-3 col-ml-auto">

    <p>CrossFit lingo can be hard to grasp at first.</p>

    <p>If it’s your first time in a CrossFit gym, you can be scared away by the strange terminology.</p>
    <p>But fair no more.</p> 

    <p>This comprehensive CrossFit glossary will help you become an expert from day one and avoid confusion in the box.  </p>

  </div>
  
  <div class="column col-xs-12 col-3 col-mr-auto">

      <div class="index-box dark">
        <h4>Table of Contents</h4>
        <ul>
          <li><a href="#general">General questions</a></li>
          <li>Workout methodologies</li>
          <li>Movements</li>
          <li>Equipments</li>
          <li>Competitons</li>
          <li>Top workouts</li>
          <li>Others</li>
        </ul>
      </div>

    </div>

  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="general">General CrossFit questions</h2>
<h3>What is the definition of CrossFit?</h3>
<p>The textbook definition is “CrossFit is constantly varied functional movements performed at high intensity.”</p>
<p>In other words, it’s a workout methodology that incorporates functional movements from different disciplines like strength training, gymnastics and sports. Workouts are performed at different intensities and varied time domains.</p>
<p>The combination of maximum effort or power output should lead to dramatic fitness gains.</p>

<h3>What is AMRAP?</h3>
<p>AMRAP, or As Many Repetitions as Possible, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20” of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity.</p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>What is EMOM?</h3>
<p>EMOM, or Every Minute on Minute, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>

<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be:</p>

<div class="wod-box">
<h4>10:00 EMOM</h4>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls</li>
</ul>
</div>
 
<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth. </p>

<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It’s commonly used for strength and skills training. </p>

<h3>What is Rounds for Time?</h3>
<p>X Rounds for Time, or 5 RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>


</div>
</div>
</div>








<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h2 id="general">General CrossFit questions</h2>
<h3>What is the definition of CrossFit?</h3>
<p>The textbook definition is “CrossFit is constantly varied functional movements performed at high intensity.”</p>
<p>In other words, it’s a workout methodology that incorporates functional movements from different disciplines like strength training, gymnastics and sports. Workouts are performed at different intensities and varied time domains.</p>
<p>The combination of maximum effort or power output should lead to dramatic fitness gains.</p>

<h3>What is AMRAP?</h3>
<p>AMRAP, or As Many Repetitions as Possible, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20” of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity.</p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>What is EMOM?</h3>
<p>EMOM, or Every Minute on Minute, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>

<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be:</p>

<div class="wod-box">
<h4>10:00 EMOM</h4>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls</li>
</ul>
</div>
 
<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth. </p>

<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It’s commonly used for strength and skills training. </p>

<h3>What is Rounds for Time?</h3>
<p>X Rounds for Time, or 5 RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>


</div>
</div>
</div>


    

