<!-- Hero -->

<div class="container hero">
  <div class="columns">

    <div class="column col-xs-12 col-5 col-ml-auto">
      <h1>Find the best Crossfit gym near you</h1>
      <p>Discover over 1,000 carefully curated Crossfit gyms in the United States and around the world. Because you deserve the best.</p>
      <button class="btn btn-primary main-button">Select a city</button>
      <p><%= link_to standards_path, :class => 'vetted-note' do %>What should you look for in a great box?<% end %> <i class="fas fa-info-circle"></i></p>
    </div>

    <div class="column col-xs-12 col-5 col-mr-auto">
          <div class="card featured-card">
            <div class="card-image">
              <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <h3 class="card-title"><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h3>
              <div class="card-subtitle text-gray">T27 Rowan Avenue Stillorgan Industrial Park</div>
            </div>
            <div class="card-body">
              Empower every person and every organization on the planet to achieve more.
            </div>
            <div class="card-footer">
              <button class="btn" id="box-features"><i class="em em-man-lifting-weights"></i> L2</button>
              <button class="btn" id="box-features"><i class="em em-money_with_wings"></i> 180 EUR</button>
              <button class="btn" id="box-features"><i class="em em-clock3"></i> 2012</button>
              <button class="btn social" id="box-features"><i class="fab fa-facebook-f"></i></button>
              <button class="btn social" id="box-features"><i class="fab fa-instagram"></i></button>
            </div>
      </div>
    </div>

  </div>
</div>


<!-- Value Prop -->

<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

      <h2>Why we are better</h2>

      <p>Picking a Crossfit box isn't a decision you should treat ligthly. We look at the most common quality indicators so you don't have to.</p>

      <br />

      

      <div class="columns">

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-man-lifting-weights"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">How good are the coaches?</h4>
                <span class="tile-subtitle text-gray">Truly excited and engaged coaches tend to be seeking out education opportunities.</span>
              </div>
            </div>
          </a>
        </div>

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-frame_with_picture"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">Real photos</h4>
                <span class="tile-subtitle text-gray">Everyone can make a gym look nice. Not everyone can fake a great class.</span>
              </div>
            </div>
          </a>
        </div>

      </div>

            <div class="columns">

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-calendar centered"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">When was the box founded?</h4>
                <span class="tile-subtitle text-gray">If a box has been around for years, then they probably know what they are doing.</span>
              </div>
            </div>
          </a>
        </div>

        <div class="column col-6">
          <a class="benefit-box">
            <div class="tile">
              <div class="tile-icon">
                <div class="example-tile-icon">
                  <i class="em em-iphone centered"></i>
                </div>
              </div>
              <div class="tile-content">
                <h4 class="tile-title">Does it have a social media presence?</h4>
                <span class="tile-subtitle text-gray">A gym that takes pride in what they are doing loves to showcase it.</span>
              </div>
            </div>
          </a>
        </div>

      </div>


<br />

      <h4 style="text-align:center;"><i class="em em-money_with_wings" style="font-size: 1.2em;"></i> Plus monthly pricing, drop-in info and more...</h4>
      <p></p>

    </div>
  </div>
</div>

<!-- All cities -->

<div class="container section dark">
  <div class="columns"> 
    <div class="column col-10 col-xs-12 col-mx-auto">

      <h2>Available in 50+ cities</h2>
      <p>If you can't find your city, don't throw a small kettlebell at us. We are working hard in-between WODs<br /> to increase our coverage.</p>

      <br />

      <div class="columns">
        <div class="column col-9 col-xs-12">
          <h4><i class="em em-us"></i>  United States</h4>
          <div class="columns">
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Portland </li>
                <li>Pittsburgh</li>
                <li>Providence</li>
                <li>Charleston</li>
                <li>Sioux Falls</li>
                <li>Memphis</li>
                <li>Austin</li>
                <li>Salt Lake City</li>
                <li>Burlington</li>
                <li>Virginia Beach</li>
                <li>Seattle</li>
                <li>Morgantown</li>
                <li>Milwaukee</li>
                <li>Cheyenne</li>
                <li>Houston</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Dallas</li>
                <li>Sacramento</li>
                <li>Queens</li>
                <li>Denver</li>
                <li>San Francisco</li>
                  <li>Albuquerque</li>
                <li>New York City</li>
                <li>Charlotte</li>
                <li>Fargo</li>
                <li>Cleveland</li>
                <li>Oklahoma</li>
                <li>Kansas City</li>
                <li>Washington DC</li>
                <li>Indianapolis</li>
                <li>Des Moines</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Louisville</li>
                <li>New Orleans</li>
                <li>Portland</li>
                <li>Baltimore</li>
                <li>Boston</li>
                <li>Ann Arbor</li>
                <li>Minneapolis</li>
                <li>Jackson</li>
                <li>St Louis</li>
                <li>Bozeman</li>
                <li>Omaha</li>
                <li>Las Vegas</li>
                <li>Manchester</li>
                <li>Newark</li>
                <li>Chicago</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Huntsville</li>
                <li>Anchorage</li>
                <li>Phoenix</li>
                <li>Little Rock</li>
                <li>San Diego</li>
                <li>Colorado Springs</li>
                <li>Milford</li>
                <li>Wilmington</li>
                <li>Orlando</li>
                <li>Atlanta</li>
                <li>Oahu</li>
                <li>Boise</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column col-3 col-xs-12">
          <h4 class=""><i class="em em-earth_asia"></i>   Rest of the world</h4>
          <div class="columns">
            <div class="column col-12">
              <ul>
                <li>London</li>
                <li>Dublin</li>
                <li>Paris</li>
                <li>Barcelona</li>
                <li>Sydney</li>
                <li>Perth</li>
                <li>Melbourne</li>
                <li>Mumbai</li>
                <li>Glasgow</li>
                <li>Amsterdam</li>
                <li>Cape Town</li>
              </ul>
            </div>
          </div>
        </div> 

      </div>

    </div>
  </div>
</div>

