<div class="container hero">
  <div class="columns">

    <div class="column col-xs-12 col-5 col-ml-auto">
      <h1>Find the best Crossfit gym near you</h1>
      <p>Discover hundreds of carefully curated Crossfit gyms around the world. Because you deserve the best.</p>
      <a href="#cities"><button class="btn btn-primary main-button">Select a city</button></a>
      

      <!--<p><i class="fas fa-info-circle"></i>  <%= link_to standards_path, :class => 'vetted-note' do %>Learn what makes a good gym<% end %></p>-->
    </div>

    <div class="column col-xs-12 col-5 col-mr-auto">
          <div class="card featured-card mobile-invisible">
            <div class="card-image">
              <%= image_tag('CrossFit Ireland', alt: "Crossfit Ireland", class: "img-responsive") %>
            </div>
            <div class="card-header">
              <h3 class="card-title"><a href="https://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h3>
              <div class="card-subtitle text-gray">T27 Rowan Avenue Stillorgan Industrial Park</div>
            </div>
            <div class="card-body">
              Fun box with multiple coaching and nutrition options, located in an industrial park.
            </div>
            <div class="card-footer">
              <button class="btn" id="box-features"><i class="em em-man-lifting-weights"></i> L2</button>
              <button class="btn" id="box-features"><i class="em em-iphone"></i> <i class="fas fa-check"></i></button>
              <button class="btn" id="box-features"><i class="em em-calendar"></i> 2012</button>
              <button class="btn" id="box-features"><i class="em em-money_with_wings"></i> €180</button>
              <a class="btn" id="box-social"><i class="fab fa-facebook-f social"></i></a>
              <a class="btn" id="box-social"><i class="fab fa-instagram"></i></a>
            </div>
      </div>
    </div>

  </div>
</div>


<%= render 'benefits' %>

<%= render 'cities' %>



