<% content_for :title do %>CrossFit Prices Around The World: [Updated <%= (Time.now - 1.month).strftime("%B") %> 2018]<% end %>

<% content_for :description do %>This comprehensive study shows CrossFit box prices around the United States and the World.<% end %>

<div class="container section light main-hero">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
<h1 style="text-align: center;">CrossFit Prices Around the US & The World</h1>
    </div>
  </div>
</div>

<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
      <p>We are running a study on CrossFit prices around the world. Help us out.</p>

      <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQDJ7a3xntPZlmHZDUXRDrOrh7Cn96OimEedcG8Kt8l8hXGKaE6ZR8buSF5HnAr8BJfxzVtpI1Ripw5/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

    </div>
  </div>
</div>