<% content_for :title do %>CrossFit Prices Around The World: [Updated <%= (Time.now - 1.month).strftime("%B") %> 2018]<% end %>

<% content_for :description do %>This comprehensive study shows CrossFit box prices around the United States and the World.<% end %>

<div class="container section light main-hero">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
<h1 style="text-align: center;">CrossFit Prices Around the US & The World</h1>
    </div>
  </div>
</div>