<h1>How do we select data for Crossfit gyms?</h1>
<p></p>

<p>Picking your gym isn't a decision you should treat ligthly. Gyms that seem from the outside like well run places with coaches who are enthusiastic and members who love working out generally don't have a heinous lurking secret, they are actually really great places to be.</p>
      <p>Our mission is to look for some of these indicators that you can see from the outside, as they are good signs for what you will see on the inside, so you don't have too.</p>
      <p>Yes, the official Crossfit site has all official affiliates in there. Or you can Google it. But I think we bring something else to the table. Here it is.</p>


PLEASE VERIFY EVERYTHING!!!!! TERMS OF USE

<h2>Main things we look at</h2>

<h3>Trainer qualification</h3>
<h3>When were they founded</h3>
<h3>Are they active in social media?</h3>
<h3>Pricing</h3>
<h3>Any competitive athlethes in their box?</h3>

<h2>Other things</h2>
<h3>Do they accept a drop-in?</h3>
<h3>Do they accept a drop-in?</h3>

