<h1>How do we select data for Crossfit gyms?</h1>
<p></p>

<h2>Main things we look at</h2>

<h3>Trainer qualification</h3>
<h3>When were they founded</h3>
<h3>Are they active in social media?</h3>
<h3>Pricing</h3>
<h3>Any competitive athlethes in their box?</h3>

<h2>Other things</h2>
<h3>Do they accept a drop-in?</h3>
<h3>Do they accept a drop-in?</h3>

