<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">
<h1>What makes a good Crossfit gym?</h1>
<p>Picking your gym isn't a decision you should treat ligthly.</p>
    </div>
  </div>
</div>


<div class="container contentt">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">
      <p>Gyms that seem from the outside like well run places with coaches who are enthusiastic and members who love working out generally don't have a heinous lurking secret, they are actually really great places to be.</p>
      <p>Our mission is to look for some of these indicators that you can see from the outside, as they are good signs for what you will see on the inside, so you don't have too.</p>
      <p>Yes, the official Crossfit site has all official affiliates in there. Or you can Google it. But I think we bring something else to the table.</p>

     <h2>Main standards</h2>
    <h3>Trainer qualification</h3>
    <p>This isn't a perfect proxy, but the 'About Us' section on any CrossFit website should have a list of the coaches and their certifications, and I find the truly excited and engaged coaches tend to be seeking out education opportunities. It will show up here.</p>
    <h3>When were they founded</h3>
    <p>This can generally be gleamed from the gym's website or the age of their social media accounts. 3+ years is strongly suggested, anything newer and it's still a learn-as-you-go project. While some of those end up great, many don't.</p>
    <h3>Are they active in social media?</h3>
    <p> A gym that takes pride in what they are doing loves to showcase it, while a gym run by a philandering douchebag with an anger problem tend to keep it on the down-low. Extra points for cutesy scripted videos on Insta and other dumb stuff that takes thought and effort from somebody at the gym to put together.</p>
    <h3>Pricing</h3>
    <p>This varies pretty widely depending on geographic area, with CrossFit gyms in rural areas often charging $100-$150 a month and gyms in the heart of New York City charging $300.</p>
    <h3>Any competitive athlethes in their box?</h3>
    <p>Does the gym feature competitive athletes? These people are immensely inspiring to have around on a day-to-day basis, and I think you should give extra points for gyms that feature these athletes. You can look up a box on the CrossFit Games site by typing in the name along with "crossfit games" to Google. Click on the top few athletes to see if they've made it to Regionals or beyond.</p>

    <h2>Other things</h2>
    <h3>Do they accept a drop-in?</h3>
    <h3></h3>

      <text>
PLEASE VERIFY EVERYTHING!!!!! TERMS OF USE // inspiration by personal experience and reddit - https://www.reddit.com/r/crossfit/wiki/index#wiki_frequently_asked_questions</text>


    </div>
  </div>
</div>

<%= render 'cities' %>




