<br />
<br />

<div class="container">
  <div class="columns">

    <div class="column col-4 col-md-12 col-xs-12 col-ml-auto">
      <div class="card">
        <div class="card-image">
          <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" class="img-responsive">
        </div>
        <div class="card-header">
          <h3 class="card-title"><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h2>
          <div class="card-subtitle text-gray">T27 Rowan Avenue Stillorgan Industrial Park</div>
        </div>
        <div class="card-body">
          Empower every person and every organization on the planet to achieve more.
        </div>
        <div class="card-footer">
          <button class="btn btn-primary"><i class="em em-man-lifting-weights"></i> L2</button>
          <button class="btn btn-primary"><i class="em em-money_with_wings"></i> 180 EUR</button>
          <button class="btn btn-primary"><i class="em em-clock3"></i> 2012</button>
          <button class="btn btn-primary"><i class="fab fa-facebook-f"></i></button>
          <button class="btn btn-primary"><i class="fab fa-twitter"></i></button>
        </div>
      </div>
    </div>

    <div class="column col-4 col-md-12 col-xs-12 col-mr-auto">
      <div class="card">
        <div class="card-image">
          <img src="http://crossfitireland.ie/wp-content/uploads/2018/02/7ab0c4e2-dfb3-41a2-a10a-10f96f8997e1-1080x675.jpg" class="img-responsive">
        </div>
        <div class="card-header">
          <h3 class="card-title"><a href="http://www.crossfitireland.ie/" target="_noblank" rel="external nofollow">CrossFit Ireland</a></h2>
          <div class="card-subtitle text-gray">T27 Rowan Avenue Stillorgan Industrial Park</div>
        </div>
        <div class="card-body">
          Empower every person and every organization on the planet to achieve more.
        </div>
        <div class="card-footer">
          <button class="btn btn-primary"><i class="em em-man-lifting-weights"></i> L2</button>
          <button class="btn btn-primary"><i class="em em-money_with_wings"></i> 180 EUR</button>
          <button class="btn btn-primary"><i class="em em-clock3"></i> 2012</button>
          <button class="btn btn-primary"><i class="fab fa-facebook-f"></i></button>
          <button class="btn btn-primary"><i class="fab fa-twitter"></i></button>
        </div>
      </div>
    </div>

  </div>
</div>
