<div class="container section light">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h1 style="text-align: center;">The best Crossfit gyms in <%= @city.name %></h1>
<p>There are <strong>25</strong> affiliated Crossfit gyms in Dublin, and the average price is 190 EUR. You can find a list of the best Crossfit gyms in <%= @city.name %> below, in no particular order.</p>

<p><a href="#better" class="vetted-note">Why are we better?</a> <i class="fas fa-arrow-down"></i></p>

    </div>
  </div>
</div>