#box-features {
  border: none;
  color: $dark-color;
  font-weight: 500;

  &:hover {
    background-color: white;
    cursor: default;
  }
}

#box-social {
  border: none;
  color: $dark-color;
  float: right;
  font-size: 1.2em !important;
   &:hover {
    background-color: white;
  }
}

.em-calendar {
  margin-bottom: 4px;
}

.card-column {
  padding: 0 3% 0 3%;
}