.footer {
  background-color: white;
  padding: 20px 40px 20px 40px;
  font-size: 0.9em;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height:80px;
}

.footer-note {
  opacity: .75;
  font-size: 0.9em;
}
