.container-box {
  background-color: #f7f8f9;
  padding-top:70px;
  padding-bottom: 70px;
}

.img-rounded {
  border-radius: 3px;
}

.box-description {
  padding-left: 30px;
}

.box-intro {
  font-size: 18px;
  margin-top: -10px;
}

.card-title-box a {
  color: #414857 !important;
}