header {
  padding: 30px 40px 20px 40px;
  & a{color: $black-color;padding-left: 20px;}
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.1;
  padding-right: 8px;
  padding-left: 0;
  
  &:hover {
    text-decoration: none;
    color: white;
    opacity: .9;
  }
  }

.fa-fire {
  color: $highlight-color;
}