/* General */

html { height: 100%; }
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:80px; 
    background-color: white;
}

/* Typeface */ 

h1, h2, h3, h4, p, a {
  color: $black-color;
}

h1 {
  font-size: 2.9em;
  font-weight: 600;
}

h4 {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 700;
}

button {
  height: 45px;
  padding: 0 20px 0 20px;
  border: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-top:0.2rem;
    font-size: 0.9em;
  }
}

a:hover {
  text-decoration:none;
  color: inherit;
  opacity: .9;
}

.em {
  font-size: 0.75em;
  margin-bottom: 2px;
}


/* Hero styling */ 

.hero {
  padding: 60px 0 90px 0;

  h1 {padding-top: 15%;}

  .featured-card {
    width: 80%;
    float: right;
  }

  .main-button {
    height: 55px;
    margin: 20px 0 15px 0;
    background-color: $highlight-color;
    padding: 0 20px 0 20px;
    border: none;

  a {
    color: white;
  }
    &:hover{background-color: $dark-color;}
  }

}

.vetted-note {
  font-size: 0.8em;
  opacity: .75;
  border-bottom: 2px dotted;

  &:hover {
    border-bottom: 2px solid;
  }
}

.fa-info-circle {
  font-size: 0.65em;
  opacity: .75;
}


/* Sections */

.section {
  padding: 70px 0 50px 0;

  h1, h2, p {
    text-align: center;
  }
}

.light {
  background-color: $light-color;
  .wod-box {
    background-color: #fff;
    
  ul {
    margin-bottom: 0px;
    list-style-type: none;

  li {
    margin-top:0.2rem;
    font-size: 0.9em;
    color: #414857;
  }
}

  }

}

.small-section {
  padding: 27px 0 20px 0;

  h1, h2, p {
    text-align: center !important; 
  }

  p {margin-bottom:5px;}
}

.dark {
  background-color: $dark-color;
  h2,h3,h4,p,li,a {color:white;}

  a:hover {
    font-weight: 700;
  }

  .boxes {
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: -50px;
  }
}

.boxes {
  padding: 60px 8% 50px 8%;
}

.dark-red {
  background-color: #bd5656;
  h2,h3,h4,p,li,a {color:white;}

  a:hover {
    font-weight: 700;
  }

  .boxes {
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: -50px;
  }
}



.text {
  h2, h3, p {
    text-align: left;
  }

  h3 {
    margin-top: 35px;
    margin-bottom: 10px;
  }

  ul {
    margin-bottom: 20px;
    list-style-type: circle;

  li {
    margin-top:0.2rem;
    font-size: 1em;
    color: #414857;
  }
  }
}




.wod-box {
  background: #f8f9fa;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 3px;

  h5 {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 0px;
    font-style: italic;
  }

  ul {
    margin-bottom: 0px;
    list-style-type: none;
    li {
      font-size: 0.9em;
    }
  }
}


.index-box {
  margin-bottom: 30px;
  padding: 30px 35px 40px 35px;
  margin-left: 25px;
  text-align: center;
  border-radius: 3px;

  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

    
  ul {
    margin-bottom: 0px;
    list-style-type: none;

  li {
    margin-top:0.2rem;
  }
}
}


.benefit-box {
  padding: 20px;
  display: inline-block;

  .em {
    font-size: 1.2em;
    margin-right: 15px;
  }
}

.btn-empty {
    background-color: $dark-color;
    color: white;
    border-color: white;
    &:hover {
      color: $dark-color;
      border: white;
  }
}

.coming-soon {
  font-size: 0.7em;
  font-weight: 500;
  padding-bottom: 10px;
  opacity: .6;
}

.faded ul li {
  opacity: .5;
}

.card {
  max-width: 600px;
}

#city-card {
  border:none;
  margin: 0px 10px 0px 10px;
  
  a {
    color: $dark-color;
  }

  .card-subtitle {
    font-size: 0.9em;
  }
}

// Glossary

.main-hero {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(hero-glossary.jpg);
  background-size: cover;
  h1 {
    color: #fff;
  }
}

.glossary-section {
    h2 {
    color: #fff;
    font-size: 2.2em;
  }
}

.glossary-questions {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-questions.jpg);
  background-size: cover;
}

.glossary-methodologies {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-methodologies.jpg);
  background-size: cover;
}

.glossary-workouts {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-workouts.jpg);
  background-size: cover;
}

.glossary-movements {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-movements.jpg);
  background-size: cover;
}

.glossary-equipment {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-equipment.jpg);
  background-size: cover;
}

.glossary-competition {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-competition.jpg);
  background-size: cover;
}

.glossary-others {
  background: linear-gradient(rgba(80,89,108,0.5), rgba(80,89,108,0.5)), url(glossary-others.jpg);
  background-size: cover;
}

.accordion {
  label {
    color: white;
  }
}


.source {
  font-size: 0.8em;
  text-transform: italics;

  &:hover {
    font-weight: 700;
    cursor:pointer;
  }
}


.figure-caption {
  font-size: 0.8em;
}

.glossary-cities {
  padding-top: 0px;
  padding-bottom: 20px;
}

.glossary-text {
  h4 {
    margin-top: 30px;
  }
  
}

#mc_embed_signup {
  background: #454d5d !important;
}

#mc_embed_signup .button {
  background-color: #e85600 !important;
}

#mc_embed_signup input.email {
  border: none !important;
  border-radius: 2px !important;
  height: 50px !important;
  padding: 17px !important;
  width: 375px !important;
}

#mc_embed_signup .button {
  font-size: 14px !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  border-radius:2px !important;
  height: 50px !important;
}


.chart {
  margin-top: 40px;
  margin-bottom: 40px;
  margin:auto;
  width: 600px;
  display: inline-block;
}

iframe {
  margin: 20px 0 20px 0;
}

