// Colors

$primary-color: #000;
$black-color: #414857;
$dark-color: #454d5d;
$light-color: #f8f9fa;
$highlight-color: #e85600;

// Typeface

// Alerts

$success-color: #32b643;
$error-color: #ffb700;
$warning-color: #ffb700;
