<div class="container section dark" id="cities">
  <div class="columns"> 
    <div class="column col-10 col-xs-12 col-mx-auto">

      <h2>Available in 50+ cities</h2>
      <p>If you can't find your city, don't throw a small kettlebell at us. We are working hard in-between WODs<br /> to increase our coverage.</p>

      <br />

      <div class="columns city-columns">
        <div class="column col-9 col-xs-12">
          <h4><i class="em em-us"></i>  United States</h4>
          <div class="columns">
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Portland </li>
                <li>Pittsburgh</li>
                <li>Providence</li>
                <li>Charleston</li>
                <li>Sioux Falls</li>
                <li>Memphis</li>
                <li>Austin</li>
                <li>Salt Lake City</li>
                <li>Burlington</li>
                <li>Virginia Beach</li>
                <li>Seattle</li>
                <li>Morgantown</li>
                <li>Milwaukee</li>
                <li>Cheyenne</li>
                <li>Houston</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Dallas</li>
                <li>Sacramento</li>
                <li>Queens</li>
                <li>Denver</li>
                <li>San Francisco</li>
                  <li>Albuquerque</li>
                <li>New York City</li>
                <li>Charlotte</li>
                <li>Fargo</li>
                <li>Cleveland</li>
                <li>Oklahoma</li>
                <li>Kansas City</li>
                <li>Washington DC</li>
                <li>Indianapolis</li>
                <li>Des Moines</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Louisville</li>
                <li>New Orleans</li>
                <li>Portland</li>
                <li>Baltimore</li>
                <li>Boston</li>
                <li>Ann Arbor</li>
                <li>Minneapolis</li>
                <li>Jackson</li>
                <li>St Louis</li>
                <li>Bozeman</li>
                <li>Omaha</li>
                <li>Las Vegas</li>
                <li>Manchester</li>
                <li>Newark</li>
                <li>Chicago</li>
              </ul>
            </div>
            <div class="column col-3 col-xs-12">
              <ul>
                <li>Huntsville</li>
                <li>Anchorage</li>
                <li>Phoenix</li>
                <li>Little Rock</li>
                <li>San Diego</li>
                <li>Colorado Springs</li>
                <li>Milford</li>
                <li>Wilmington</li>
                <li>Orlando</li>
                <li>Atlanta</li>
                <li>Oahu</li>
                <li>Boise</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column col-3 col-xs-12">
          <h4 class=""><i class="em em-earth_asia"></i>   Rest of the world</h4>
          <div class="columns">
            <div class="column col-12">
              <ul>
                <li>London</li>
                <li>Dublin</li>
                <li>Paris</li>
                <li>Barcelona</li>
                <li>Sydney</li>
                <li>Perth</li>
                <li>Melbourne</li>
                <li>Mumbai</li>
                <li>Glasgow</li>
                <li>Amsterdam</li>
                <li>Cape Town</li>
              </ul>
            </div>
          </div>
        </div> 

      </div>

    </div>
  </div>
</div>