<div class="container section light glossary-section glossary-workouts" id="workouts">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">Famous CrossFit Workouts</h2>

    </div>
  </div>
</div>

<!--- Change ---->

<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

  <h3 id="q-20">The Girls</h3>
<p>The Girls are a special group of CrossFit benchmark workouts. When asked why name workouts after girls, CrossFit founder Greg Glassman responded:</p>
<p>"I thought that anything left you flat on your back looking up to the sky asking, 'what just happened,' deserved a female name."</p>
<p>The original girls are: 
</p>
  <ul>
  <li>Angie</li>
  <li>Barbara</li>
  <li>Chelsea</li>
  <li>Diane</li>
  <li>Elizabeth</li>
  <li>Fran</li>
  <li>Grace</li>
  <li>Helen</li>
</ul>

<h3 id="q-21">The Heroes</h3>
<p>The Heroes are a special group of CrossFit benchmark workouts. They were created in honor of a fallen soldier, normally Americans. As a result, they are intended to be performed with intense effort, in honor of our fallen Heroes. </p>
<p>Don't think of yourself. Instead think about the Hero.</p>
<p>The most well-known hero workout is Murph, In memory of Navy Lieutenant Michael Murphy, 29, of Patchogue, N.Y., who was killed in Afghanistan on June 28th, 2005. </p>

<div class="wod-box">
<h5>"Murph" - For time</h5>
<ul>
  <li>1 mile Run</li>
  <li>100 pull ups</li>
  <li>200 push ups</li>
  <li>300 air squats</li>
  <li>1 mile Run</li>
</ul>
<p>Partition the pull-ups, push-ups, and squats as needed. Start and finish with a mile run. If you've got a twenty pound vest or body armor, wear it.</p>
</div>

<h3 id="q-27">Fran</h3>
<p>Fran is a short, intense <a href="#">couplet</a> of Thrusters and Pull ups in a 21-15-9 format. For men, the weight is 95 lbs, while for women is 65 lbs.</p>

<div class="wod-box">
<h5>"Fran" - 21-15-9</h5>
<ul>
<li>Thrusters (95/65 lbs)</li>
<li>Pull ups</li>
</ul>
</div>

<p>To break it down:</p>

<ul>
  <li>21 thrusters with 95 lbs for men and 65 lbs for women.</li>
  <li>21 pull ups.</li>
  <li>15 thrusters with 95 lbs for men and 65 lbs for women.</li>
  <li>15 pull ups.</li>
  <li>9 thrusters with 95 lbs for men and 65 lbs for women.</li>
  <li>9 pull ups.</li>
</ul>

<p>It's one of CrossFit most famous benchmark workouts, and part of <a href="#">The Girls</a>. Professional athletes can do Fran as prescribed in around 2 minutes, while an everyday athlete should be able to perform Fran in around 5 or 6 minutes.</p>

<ul>
  <li>10:00+ Beginner</li>
  <li>10:00-4:30 Intermediate</li>
  <li>4:30 – 3:00 Advanced</li>
  <li>3:00 or less Elite</li>
</ul>

<p>
Fran was one of the first workout created by Greg Glassman.
</p>

<h3 id="q-28">Murph</h3>
<p>"Murph" is, probably, the most well-known Hero WOD in CrossFit. It was originally posted on the main site as the workout of the day for Thursday August 18, 2005 and it has become a staple to perform it on Memorial Day in the US.</p>


<div class="wod-box">
<h5>"Murph - For Time</h5>
<ul>
<li>1 mile run</li>
<li>100 pull ups</li>
<li>200 push ups</li>
<li>300 squats</li>
<li>1 mile run</li>
</ul>
<p>Partition the pull-ups, push-ups, and squats as needed. Start and finish with a mile run. If you've got a twenty pound vest or body armor, wear it.</p>
</div>


<h3 id="q-29">Fight Gone Bad</h3>
<p>Fight Gone Bad is a benchmark WOD that tries to simulate the time structure of an MMA fight – 5 minutes on, 1 minute rest.</p>

<div class="wod-box">
<h5>"Fight Gone Bad" - 5 Rounds</h5>
<ul>
<li>Wallball Shots</li>
<li>Sumo Deadlift High-Pull (75/45 lbs)</li>
<li>Box jump</li>
<li>Push Press (75/45 lbs)</li>
<li>Calories in row</li>
</ul>
<p>Move from each station after a minute. Rest one minute after completing the rounds. Repeat five times. The clock does not reset or stop between exercises, and the score is the total number of reps (and calories) performed.</p>
</div>
<p>Fight Gone Bad was named after BF Penn, a professional fighter who, after going through the workout for the first time, said that it compared to a "fight gone bad."</p>

<h3 id="q-30">Grace</h3>
<p>Grace, or Amazing Grace, is one of the original Girls workouts. It's a short, simple but extremely intense workout consisting of 30 clean-and-jerks, for time.</p>

<div class="wod-box">
<h5>"Grace" - For Time, Cap 8'</h5>
<ul>
<li>30 Clean-and-Jerks (135/95 lbs)</li>
</ul>
<p>Power cleans or full cleans are acceptable</p>
</div>

<p>This workout was designed to be a sprint, but considering it's only one movement, avoid going to failure. Instead, start at a slow but steady pace.</p>
<p>Elite level athletes perform Grace unbroken in under two minutes. For everyday athletes, a sub-five minute time is something to be proud of.</p>

<h3 id="q-31">Cindy</h3>
<p>Cindy, as Grace, is one of the original Girls workouts, posted on the main site on Saturday, May 14, 2005.</p>

<div class="wod-box">
<h5>"Cindy" - AMRAP 20'</h5>
<ul>
<li>5 pull ups</li>
<li>10 push ups</li>
<li>15 squats</li>
</ul>
</div>

<p>Cindy is a 20 minute AMRAP of constant action. Movements are not technical or demanding, but the volume is extremely taxing on your heart rate.</p>
<p>Good, everyday athletes should be able to perform 20+ rounds, while elite and professional athletes tend to do between 30 and 35 rounds. In the 2009 CrossFit games, Chris Spealler destroyed Cindy with 38 rounds.</p>

</div>
</div>
</div>

<!-- CHANGE -->