<div class="container section light glossary-section glossary-questions" id="general">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">General CrossFit Questions</h2>

    </div>
  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h3>What is the definition of CrossFit?</h4>
<p>The textbook definition is "CrossFit is constantly varied functional movements performed at high intensity."</p>
<p>In layman terms, CrossFit is a workout methodology that incorporates functional movements from different disciplines like strength training, gymnastics and sports, performed at different intensities and for varied time domains.</p>

<i class="em em-link" style="font-size: 0.5em;"></i> <a href="https://www.crossfit.com/what-is-crossfit" class="source">Source</a>

<h3>What is a WOD?</h3>
<p>WOD, or <b>Workout Of the Day</b>, is the main body of work to be completed at the box during a CrossFit class.</p>
<p>When you arrive at your box, the Workout of the day is usually written down in a whiteboard for everyone to see, along with any warm up, mobility, core or skill work.</p>

<h3>What is RX? </h3>
<p>RX means <b>as prescribed</b>. Doing a workout "RX" means the athlete did the prescribed number of reps at the prescribed weight, inside the time cap (if any).</p>
<p>Unless you are an experienced athlete, doing a workout RX is extremely challenging.</p>

<h3>What does Scaled means?</h3>
<p>Scaling a workout means the athlete adjusted the movements, weights or repetitions to accommodate his skills, abilities and strength.</p>
<p>The magic of CrossFit is that it is challenging, but infinitely scalable. Most new athletes can't RX most of the workouts, but "scaling" is not only acceptable, but preferred.</p>
<p>Let's look at the following workout.</p>

<div class="wod-box">
<h5>AMRAP 20'</h5>
<ul>
  <li>10 T2B</li>
  <li>10 Push Press (115lbs/85lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>
If you can't do a <a href="#">T2B</a> yet, and 115 lbs is too heavy, an athlethe could lower the weights and replace the T2B with knees-to-elbows, to perform the following.
</p>

<div class="wod-box">
<h5>AMRAP 20'</h5>
<ul>
  <li>10 knees-to-elbows</li>
  <li>10 Push Press (85lbs/55lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>Scaling gives athletes the opportunity to build the required strenght or skills in a safe environment. </p>
<p>No one is expected to do a workout RX. Almost everyone scales workouts and that nobody in the box will think less of you if you scale a workout. Safety first.</p>

<h3>What is AMRAP?</h3>
<p>AMRAP, or <b>As Many Repetitions as Possible</b>, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20" of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity. </p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>What is EMOM?</h3>
<p>EMOM, or <b>Every Minute on Minute</b>, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>
<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be</p>

<div class="wod-box">
<h5>10' EMOM</h5>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls(20lbs/14lbs)</li>
  <li>10 calories in ErgRow</li>
</ul>
</div>

<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth.</p>
<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It's commonly used for strength and skills training.</p>

<h3>What is Rounds for Time?</h3>
<p><b>Rounds for Time</b>, or RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>
<p>
In this case, the athlete does the prescribed reps/rounds/movements until they have finished or the cap time runs out and the workout stops. 
</p>

<div class="wod-box">
<h5>5 RFT</h5>
<ul>
  <li>20 calories in Row</li>
  <li>10 T2B</li>
  <li>5 C&J (95lbs/55lbs)</li>
</ul>
</div>


<h3>What are the CrossFit Games?</h3>
<p>The CrossFit games is an athletic competition in which the top 40 men and women from around the world compete across three days to become The Fittest Man and Fittest Woman on Earth.</p>
<p>The first CrossFit Games were performed in Aromas, California on a small ranch owned by the family of Games director Dave Castro and it was open to anyone who assisted. When it started gaining traction, they introduced a qualifier and moved the Home Depot Center (later called the StubHub Center) in Carson, California. After seven years in California, the CrossFit games moved to the Alliant Energy Center in Madison, Wisconsin.</p>
<p>To compete in the Games, you first need to qualify in the Open, which takes you to Regionals. Then, the top athletes from each regional event advance to the CrossFit Games, which are held over three days in July or August.</p>

<i class="em em-link" style="font-size: 0.5em;"></i> <a href="https://games.crossfit.com/" class="source">Source</a>

<h3>What is a Crossfit Box? </h3>
<p>A CrossFit box is simply, a CrossFit gym. It's a dedicated, affiliated box that has all the appropriate equipment necessary to perform WODs. </p>
<p>As an outsider, it might look like an "empty" gym because it doesn't have all the bells, whistles and bicep curls machine you'd expect from a gym.</p>

<h3>What is a 21 15 9 workout?</h3>
<p>21 15 9 is a popular repetition scheme in CrossFit. The athlete needs to perform 21 reps of the prescribed workout, then 15 reps and finally, 9 reps, for a total of 45 reps of each exercise. The score is the time it took you to complete the workout.</p>

<div class="wod-box">
<h5>"Diane" - 21 15 9</h5>
<ul>
  <li>Deadlift (225lbs/155lbs)</li>
  <li>Handstand Push-Ups</li>
</ul>
</div>

<p>The structure is based on the "decay rate" – as you get tired, you can do less work as the load remains the same.</p>

<h3>What is Fran?</h3>
<p>Fran is a short, intense <a href="#">couplet</a> of Thrusters and Pull ups in a 21-15-9 format. For men, the weight is 95 lbs, while for women is 65 lbs. 

<div class="wod-box">
<h5>"Fran" - 21 15 9</h5>
<ul>
  <li>Thrusters (95lbs/65lbs)</li>
  <li>Pull ups</li>
</ul>
</div>

<p>To break it down:</p>

<ul>
<li>21 thrusters with 95 lbs for men and 65 lbs for women.</li>
<li>21 pull ups.</li>
<li>15 thrusters with 95 lbs for men and 65 lbs for women.</li>
<li>15 pull ups.</li>
<li>9 thrusters with 95 lbs for men and 65 lbs for women.</li>
<li>9 pull ups.</li>
</ul>

<p>It's one of CrossFit most famous benchmark workouts, and part of <a href="#">The Girls</a>. Professional athletes can do Fran as prescribed in around 2 minutes, while an everyday athlete should be able to perform Fran in around 5 or 6 minutes.</p>

<ul>
<li>10:00+ Beginner</li>
<li>10:00-4:30 Intermediate</li>
<li>4:30 – 3:00 Advanced</li>
<li>3:00 or less Elite</li>
</ul>

<p>Fran was one of the first workouts created by Greg Glassman. You can learn about the story in the video below.</p>

<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-2nsZ9Lbz-8?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>
</div>
</div>