<div class="container section light glossary-section glossary-movements" id="movements">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">CrossFit Movements</h2>

    </div>
  </div>
</div>


<div class="container section text glossary-text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

  <h3>Barbell Movements</h3>
  <h4>Clean</h4>
  <p>The clean starts with the barbell on the ground, just like a deadlift, and ends when the barbell is resting in the front rack position, and the athlete is standing up.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/EKRiW9Yt3Ps" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>Power Clean</h4>
  <p>The power clean is like a regular clean but requires the athlete to receive the bar in the power position – a slight dip that doesn't break the legs parallel.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/GVt4uQ0sDJE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>Push Jerk</h4>
  <p>The push jerk is an overhead movement that requires the athlete to start with the barbell in the front rack, and finish the movement receiving overhead with straight arms.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/V-hKuAfWNUw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>Push Press</h4>
  <p>The push press is another overhead movement that requires you to start with the bear in the front rack, slightly flex the hips and knees, keeping torso erect, to reach a dip position and immediately drive the bar directly above your head until your arms are straight.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/X6-DMh-t4nQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>


  <h4>SDHP</h4>
  <p>SDHP, or Sumo Deadlift High Pull requires a narrow grip on the bar and your feet more than shoulder width apart. Then, lift the bar to the middle of your chest.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/o6QniJ9FaGA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>


  <h4>STOH</h4>
  <p>In a workout, <b>STOH or Shoulder to Overhead</b> calls for any movement that start with the back in the front rack position, and ends with a full extension overhead. The strict press, the push press and the push jerk are the more common options.</p>


  <h4>Thruster</h4>
  <p>Starting with your barbell in the front rack position, you will do a full front squat and then come to full extension while pushing the bar overhead.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aea5BGj9a8Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>FS or Front Squat</h4>
  <p>The FS, or Front Squat requires completing a full squat with the barbell in the front rack position.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/m4ytaCJZpl0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>Snatch</h4>
  <p>The snatch is an olympic lifting movement that requires to lift the barbell from the ground to overhead in one continuous motion.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9xQp2sldyts" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h3>Gymnastics Movements</h3>
  <h4>MU</h4>
  <p>MU, or muscle-up is an upper-body exercise performed in the rings that requires you to combine a pull and a dip.</p>

    <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rtF51pQB6Wc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  <h4>BMU</h4>
  <p>The <b>BMU, or bar muscle-up</b> is like the aforementioned muscle up, but instead of performing it in a set of gymnastic rings, you do it in the regular pull-up bar.</p>
  <p>The movement beings from the floor, hanging from the pull-up bar, and ends with the athlete over the bar, and the arms fully locked.</p>

    <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/OCg3UXgzftc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  <h4>HSPU</h4>
  <p>A handstand push up, or more properly, a kipping handstand push up is a dynamic movement that requires you to explode your hips up while pushing upside down, into a handstand.</p>
  <p>A kipping handstand push-ups will allow you to get in way more volume than the strict version does.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/InRvHNUOlSs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>T2B</h4>
  <p>This movement requires the athlete to start with hang from the bar and lift their toes to touch the bar using your core muscles. You may also kip this movement as shown below.</p>

  <div class="video-responsive">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/_03pCKOv4l4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>


  <h4>Pistols</h4>
  <p>Pistols, or single-leg squats, requires the athlete to perform a squat with a single, alternating leg. alternating them.</p>

  <div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/qDcniqddTeE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <h4>Kipping pullups</h4>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/r45xLlH7r_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  <h4>C2B</h4>
  <p><b>C2B, or chest-to-bar pullup</b> is just like a regular pullup, but your chest much touch the bar for the rep to count.</p>

    <div class="video-responsive">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/p9Stan68FYM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>

  <h4>Ring dips</h4>
  <p>A ring dip is performed by holding yourself up on gymnastic rings and then dipping, or bringing your shoulders to your hands.
  </p>

<h3>Other CrossFit Skills</h3>

<h4>WB or Wall Balls</h4>
<p><b>WB or Wall Balls</b> are a common CrossFit movement that seem friendly but will tax your legs and lungs. The exercise requires the athlete to hold a med ball with their hands, squat down and go back up while throwing the ball at a target.</p>

<h4>Rope climb</h4>
<p>As the name describes it, the rope climb requires climbing a rope, like you did in high school. The length of the rope varies from gym to gym.</p>

<h4>BJ or Box Jumps</h4>
<p><b>Box jumps</b> are a common CrossFit movement that requires to jump onto a box with both feet, fully extend your hips and come down.</p>

<h4>Box Jump Overs</h4>
<p>The box jump over requires the athlete to jump on top of the box, and come down on the other side. Full extension at the top is not required.</p>


<h4>Burpee Box Jumps</h4> 
<p>Start with a burpee, then jump onto the box and down for a full rep.</p>


<h4>DUs or Double Unders</h4>
<p><b>DUs, also known as Double unders</b> are like a regulr jump rope, but swinging the ropes two times for every jump.</p>


</div>
</div>
</div>