<div class="container section light glossary-section glossary-others" id="others">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">Other questions</h2>

    </div>
  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h3 id="q-64">RM</h3>
<p><b>RM, rep max, or repetition maximum</b> refers to the maximum weight you can lift in a certain movement, for the prescribed number of repetitions. </p>
<p>For instance, a 1RM Snatch, or one repetition maximum of snatch is the maximum weight you can snatch one time. In CrossFit, it's common to see 3RM, or three repetition maximums as well, which means the maximum weight you could lift three times, unbroken.</p>

<h3 id="q-65">PR</h3>
<p>In Crossfit, <b>PR stands for Personal Record</b>. This can refer to a maximum weight you've been able to lift, a benchmark workout you've finished faster than ever before or a maximum number of unbroken repetitions of a specific movement. </p>

<h3 id="q-66">DOMS</h3>
<p><b>DOMS, or Delayed Onset Muscle Soreness</b>, is a distinctive muscle pains that start around a day or two after someone performs intense or unfamiliar exercise.</p>

<p>Usually, there's a 24 hour delay between a workout and the start of the pain, or "muscle fever". It peaks 48 hours after said exercise, and can last for a couple more days.</p>

<p>It's not something strictly related to Crossfit. You can get DOMS by doing almsot anything – biking, rowing, playing soccer. But due to the intensity with which Crossfit is performed, you'll get familiar with it pretty soon.</p>

<h3 id="q-67">Box</h3>
<p>A box, also referred as an affiliate, is a CrossFit-affiliate gym that contains all the necessary material to perform a CrossFit workout.</p>

<h3 id="q-68">BW</h3>
<p><b>BW stands for bodyweight</b>, and in CrossFit, it's often used to prescribe weights in a workout. For example, Otis, a hero WOD, calls for the weight to be measured in body weight.
</p>


<div class="wod-box">
<h5>"Otis" - AMRAP 15'</h5>
<ul>
<li>Back Squat (1½ bodyweight)</li>
<li>Shoulder Press (¾ bodyweight)</li>
<li>Deadlift (1½ bodyweight)</li>
</ul>
<p>Start with 1 rep each. Increase each by 1 rep per round.</p>
</div>

<h3 id="q-69">Pukie The Clown</h3>

<p>Pukie The Clown, CrossFit's mascot, is a cartoon of a CrossFit athlete who has vomited after a  workout.</p>
<p>The cartoon suggests that CrossFit should be performed at maximum intensity, past the point of no return, for it to be effective. This "motto" is slowly being discontinued in the CrossFit community.</p>

<figure class="figure">
  <%= image_tag('pukie', alt: "Pukie The Clown", class: "img-responsive") %>
  <figcaption class="figure-caption text-center">Pukie The Clown painted on a CrossFit gym's floor</figcaption>
</figure>

<h3 id="q-70">Uncle Rhabdo</h3>
<p>Uncle Rhabdo is Pukie's even more stupid cousin –  a clown who has contracted rhabdomyolysis, and is hooked up to a dialysis machine.</p>
<p>Don't confuse rhabdomyolysis with DOMS. Rhabdomyolysis is an extremely serious condition resulting from over-exhaustion of the muscles, and should be treated in a hospital.</p>

<figure class="figure">
  <%= image_tag('rhabdo', alt: "Uncle Rhabdo", class: "img-responsive") %>
  <figcaption class="figure-caption text-center">Uncle Rhabdo</figcaption>
</figure>

<h3 id="q-71">Ass to grass</h3>
<p>Ass to grass refers to getting your butt as low as possible (to grass) when performing any kind of squat. The goal is to obtain strength through the whole range of motion.</p>

<figure class="figure">
  <%= image_tag('ass-to-grass', alt: "Ass to grass squat", class: "img-responsive") %>
  <figcaption class="figure-caption text-center">A properly performed squat</figcaption>
</figure>

</div>
</div>
</div>