<div class="container section text dark" id="index">
  <div class="columns"> 
    <div class="column col-xs-12 col-6 col-mx-auto">

      <h3>Index</h3>
      <p>You can jump to (or share) a specific Section or Question by clicking on it.</p>



        <div class="accordion">
          <input type="checkbox" id="accordion-8" name="accordion-checkbox" hidden>
          <label class="accordion-header" for="accordion-8">
            <i class="em em-arrow_down_small mr-1"></i>
            General Questions
          </label>
          <div class="accordion-body">
            <ul>
              <li><a href="#q-1">What is the definition of CrossFit?</a></li>
              <li><a href="#q-2">What is a WOD?</a></li>
              <li><a href="#q-3">What is RX?</a></li>
              <li><a href="#q-4">What does Scaled mean?</a></li>
              <li><a href="#q-5">What is AMRAP?</a></li>
              <li><a href="#q-6">What is EMOM?</a></li>
              <li><a href="#q-7">What is Rounds for Time?</a></li>
              <li><a href="#q-8">What are the CrossFit Games?</a></li>
              <li><a href="#q-9">What's a box?</a></li>
              <li><a href="#q-10">What is a 21 15 9 workout?</a></li>
              <li><a href="#q-11">What is Fran?</a></li>
              </ul>
          </div>
        </div>

        <div class="accordion">
          <input type="checkbox" id="accordion-9" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-9">
            <i class="em em-arrow_down_small mr-1"></i>
            Movements
          </label>
          <div class="accordion-body">
            <ul>
            <li><a href="#q-32">Clean</a></li>
            <li><a href="#q-33">Power Clean</a></li>
            <li><a href="#q-34">Push Jerk</a></li>
            <li><a href="#q-35">Push Press</a></li>
            <li><a href="#q-36">SDHP</a></li>
            <li><a href="#q-37">STOH</a></li>
            <li><a href="#q-38">Thruster</a></li>
            <li><a href="#q-39">FS or Front Squat</a></li>
            <li><a href="#q-40">Snatch</a></li>
            <li><a href="#q-41">MU</a></li>
            <li><a href="#q-42">BMU</a></li>
            <li><a href="#q-43">HSPU</a></li>
            <li><a href="#q-44">T2B or Toes-To-Bar</a></li>
            <li><a href="#q-45">Pistols</a></li>
            <li><a href="#q-46">Kipping pullups</a></li>
            <li><a href="#q-47">C2B or Chest-to-bar</a></li>
            <li><a href="#q-48">Ring dips</a></li>
            <li><a href="#q-49">WB or Wall Balls</a></li>
            <li><a href="#q-50">Rope climb</a></li>
            <li><a href="#q-51">BJ or Box Jumps</a></li>
            <li><a href="#q-52">Box Jump Overs</a></li>
            <li><a href="#q-53">Burpee Box Jumps</a></li>
            <li><a href="#q-54">DUs or Double Unders</a></li>
              </ul>
          </div>
        </div>

        <div class="accordion">
          <input type="checkbox" id="accordion-3" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-3">
            <i class="em em-arrow_down_small mr-1"></i>
            Workout Structures
          </label>
          <div class="accordion-body">
            <ul>
                <li><a href="#q-12">21 15 9</a></li>
                <li><a href="#q-13">AMRAP or As Many Repetitions as Possible</a></li>
                <li><a href="#q-14">EMOM, or Every Minute on Minute</a></li>
                <li><a href="#q-15">RFT or Rounds for Time</a></li>
                <li><a href="#q-16">Reps or Repetitions</a></li>
                <li><a href="#q-17">Sets</a></li>
                <li><a href="#q-18">Tabata</a></li>
                <li><a href="#q-19">Cap time</a></li>
              <li><a href="#q-22">Chipper</a></li>
              <li><a href="#q-23">Bear Complex</a></li>
              <li><a href="#q-24">DT</a></li>
              <li><a href="#q-25">Couplet</a></li>
              <li><a href="#q-26">Triplet</a></li>
              </ul>
          </div>
        </div>

                <div class="accordion">
          <input type="checkbox" id="accordion-4" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-4">
            <i class="em em-arrow_down_small mr-1"></i>
            Famous CrossFit Workouts
          </label>
          <div class="accordion-body">
            <ul>
              <li><a href="#q-20">The Girls</a></li>
              <li><a href="#q-21">The Heroes</a></li>
              <li><a href="#q-27">Fran</a></li>
              <li><a href="#q-28">Murph</a></li>
              <li><a href="#q-29">Fight Gone Bad</a></li>
              <li><a href="#q-30">Grace</a></li>
              <li><a href="#q-31">Cindy</a></li>
              </ul>
          </div>
        </div>

                <div class="accordion">
          <input type="checkbox" id="accordion-5" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-5">
            <i class="em em-arrow_down_small mr-1"></i>
            CrossFit Equipment
          </label>
          <div class="accordion-body">
            <ul>
<li><a href="#q-55">Kettlebell</a></li>
<li><a href="#q-56">Pood</a></li>
<li><a href="#q-57">Barbell</a></li>
              </ul>
          </div>
        </div>

                <div class="accordion">
          <input type="checkbox" id="accordion-6" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-6">
            <i class="em em-arrow_down_small mr-1"></i>
            Competitions
          </label>
          <div class="accordion-body">
            <ul>
<li><a href="#q-58">CrossFit Open</a></li>
<li><a href="#q-59">CrossFit Regionals</a></li>
<li><a href="#q-60">The CrossFit Games</a></li>
<li><a href="#q-61">CrossFit Invitational</a></li>
<li><a href="#q-62">CrossFit Team Series</a></li>
<li><a href="#q-63">CrossFit Lift Off Series</a></li>
              </ul>
          </div>
        </div>

                <div class="accordion">
          <input type="checkbox" id="accordion-7" name="accordion-checkbox" hidden>
           <label class="accordion-header" for="accordion-7">
          <i class="em em-arrow_down_small mr-1"></i>
            Other Stuff
          </label>
          <div class="accordion-body">
            <ul>
<li><a href="#q-64">RM</a></li>
<li><a href="#q-65">PR</a></li>
<li><a href="#q-66">DOMS</a></li>
<li><a href="#q-67">Box</a></li>
<li><a href="#q-68">BW</a></li>
<li><a href="#q-69">Pukie The Clown</a></li>
<li><a href="#q-70">Uncle Rhabdo</a></li>
<li><a href="#q-71">Ass to grass</a></li>
              </ul>
          </div>
        </div>
      
    

    </div>
  </div>
  </div>