<!--- Change ---->

<div class="container section light glossary-section glossary-methodologies" id="methodologies">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">Workout Methodologies</h2>

    </div>
  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h3>21 15 9</h3>
<p>21 15 9 is a popular repetition scheme in CrossFit. The athlete needs to perform 21 reps of the prescribed workout, then 15 reps and finally, 9 reps, for a total of 45 reps of each exercise. The score is the time it took you to complete the workout.</p>

<div class="wod-box">
<h5>"Diane" - 21 15 9</h5>
<ul>
  <li>Deadlift (225lbs/155lbs)</li>
  <li>Handstand Push-Ups</li>
</ul>
</div>

<p>The structure is based on the "decay rate" – as you get tired, you can do less work as the load remains the same.</p>

<h3>AMRAP or As Many Repetitions as Possible</h3>
<p>AMRAP, or <b>As Many Repetitions as Possible</b>, is a workout structure where you have a set amount of time to do as many repetitions of the prescribed exercises as you can. </p>
<p>A good example of an AMRAP is Cindy, a benchmark workout. Cindy is As Many Repetitions as Possible in 20" of 5 pull ups, 10 push ups and 15 air squats, performed at high intensity. </p>
<p>Most AMRAP routines are around twenty minutes long, but you will come across some set at 10, 15, 30 minutes or other variations of length for the workout. </p>

<h3>EMOM, or Every Minute on Minute</h3>
<p>EMOM, or <b>Every Minute on Minute</b>, is a workout structure where you have to perform a set of prescribed exercises every minute, while the clock is running. </p>
<p>In other words, you have to perform a specific task every time the clock hits :00. A good example can be:</p>

<div class="wod-box">
<h5>10' EMOM</h5>
<ul>
  <li>1 Hang Power Clean + 1 Push Jerk</li>
</ul>
</div>

<p>An EMOM can also be programmed with more than one movement, like below.</p>

<div class="wod-box">
<h5>10' EMOM</h5>
<ul>
  <li>Evens: 7 chest-to-bar pull ups</li>
  <li>Odds: 10 unbroken wall balls(20lbs/14lbs)</li>
</ul>
</div>

<p>This means that when the clock starts at 00:00 (evens), you perform 7 chest-to-bar pull ups. When the clock hits 01:00, you perform 10 unbroken wall balls (odds). When the clock hits 02:00 (even again) you perform 7 chest-to-bar pull ups and so on so forth.</p>
<p>An EMOM is rarely programmed as the single, standalone piece of a training session but rather as part of a class. It's commonly used for strength and skills training.</p>

<h3>RFT or Rounds for Time</h3>
<p><b>Rounds for Time</b>, or RFT, is a workout structure where you have to complete X rounds of a prescribed set of exercises as fast as you can.</p>
<p>
In this case, the athlete does the prescribed reps/rounds/movements until they have finished or the cap time runs out and the workout stops. 
</p>

<div class="wod-box">
<h5>5 RFT</h5>
<ul>
  <li>20 calories in Row</li>
  <li>10 T2B</li>
  <li>5 C&J (95lbs/55lbs)</li>
</ul>
</div>

<h3>Reps or Repetitions</h3>
<p>The number times a movement is to be performed/repeated at a time.</p>

<h3>Sets</h3>
<p>The number of times you will perform the indicated number of reps. </p>

<h3>Tabata </h3>
<p>Tabata is a High Intensity Interval Training methodology that consists in working out at maximum intensity for twenty seconds, resting for ten and repeating that for a total of eight rounds.
</p>

<ul>
<li>Work out hard for 20 seconds</li>
<li>Rest for 10 seconds</li>
<li>Complete 8 rounds</li>
</ul>

<p>Tabata was was discovered by a team of Japanese researchers from the National Institute of Fitness and Sports in Tokyo, who demonstrated that this style of training has a fantastic impact in aerobic and anaerobic capacity. </p>
<p>In CrossFIt, Tabata is often used as a warmup, but it can also be programmed as the main WOD.</p>

<div class="video-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/kGoW6Xeg_vI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<h3>Cap time</h3>
<p>Cap time is the maximum time you have to perform a prescribed set of exercises.  It's usually related to a <a href="#">Rounds for Time</a> workout.</p>

<div class="wod-box">
<h5>5 RFT, 16' Cap</h5>
<ul>
  <li>10 sit-ups</li>
  <li>15 power snatches</li>
  <li>20 wall ball shots</li>
</ul>
</div>

<p>In this case, the workout finishes when you complete five rounds, or the clock hits 16 minutes.</p>

<h3>The Girls</h3>
<p>The Girls are a special group of CrossFit benchmark workouts. When asked why name workouts after girls, CrossFit founder Greg Glassman responded:</p>
<p>"I thought that anything left you flat on your back looking up to the sky asking, 'what just happened,' deserved a female name."</p>
<p>The original girls are: 
</p>
  <ul>
  <li>Angie</li>
  <li>Barbara</li>
  <li>Chelsea</li>
  <li>Diane</li>
  <li>Elizabeth</li>
  <li>Fran</li>
  <li>Grace</li>
  <li>Helen</li>
</ul>

<h3>The Heroes</h3>
<p>The Heroes are a special group of CrossFit benchmark workouts. They were created in honor of a fallen soldier, normally Americans. As a result, they are intended to be performed with intense effort, in honor of our fallen Heroes. </p>
<p>Don't think of yourself. Instead think about the Hero.</p>
<p>The most well-known hero workout is Murph, In memory of Navy Lieutenant Michael Murphy, 29, of Patchogue, N.Y., who was killed in Afghanistan on June 28th, 2005. </p>

<div class="wod-box">
<h5>"Murph" - For time</h5>
<ul>
  <li>1 mile Run</li>
  <li>100 pull ups</li>
  <li>200 push ups</li>
  <li>300 air squats</li>
  <li>1 mile Run</li>
</ul>
<p>Partition the pull-ups, push-ups, and squats as needed. Start and finish with a mile run. If you've got a twenty pound vest or body armor, wear it.</p>
</div>


<h3>Chipper</h3>
<p>A workout format that must be completed in linear fashion from start to finish. Chippers are usually for time, but there are no "rounds". Simply start at the top, and stop once everything is completed.</p>

<div class="wod-box">
<h5>"Fat Amy" - For time</h5>
<ul>
<li>50 Air Squats</li>
<li>10 Burpees</li>
<li>40 Sit-Ups</li>
<li>10 Burpees</li>
<li>30 Lunges (alternating legs)</li>
<li>10 Burpees</li>
<li>20 Kettlebell Swings (1.5/1 pood)</li>
<li>10 Burpees</li>
<li>10 meter Bear Crawl</li>
<li>10 Burpees</li>
<li>20 Kettlebell Swings (1.5/1 pood)</li>
<li>10 Burpees</li>
<li>30 Lunges (alternating legs)</li>
<li>10 Burpees</li>
<li>40 Sit-Ups</li>
<li>10 Burpees</li>
<li>50 Air Squats</li>
</ul>
</div>

<h3>Bear Complex</h3>

<p>According to <a href="https://www.muscleandstrength.com/workouts/the-bear-barbell-complex.html">Muscle and Strength</a>, the Bear Complex consists of 5 barbell exercises performed back to back without resting. Each exercise flows naturally into the next.
</p>

<ul>
<li>1 Power clean</li>
<li>1 Front squat</li>
<li>1 Push press</li>
<li>1 Back squat</li>
<li>1 Push press</li>
</ul>

<p>Perform that seven times, and that's one round. The Bear Complex workout consists of five rounds. This workout can be used in off-days, as a warm up or to build strength.
</p>

<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nMxEj5IjaxY?rel=0&amp;showinfo=0&amp;start=10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>


<h3>DT </h3>
<p>DT, originally a Hero Wod, is barbell complex that consists of the following.</p>

<ul>
<li>12 deadlifts</li>
<li>9 hang power cleans</li>
<li>6 push jerks</li>
</ul>

<p>This Hero WOD was first posted on the main site as the workout of the day for Tuesday, April 14, 2009, and now it's a popular workout structure.</p>

<div class="wod-box">
<h5>"DT" - 5 RFT</h5>
<ul>
<li>12 deadlifts</li>
<li>9 hang power cleans</li>
<li>6 push jerks</li>
</ul>
</div>

<p>Below you can see Annie Thorisdottir completing DT like a beast.</p>

<div class="video-responsive">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/nwaJL0B2pt8?rel=0&amp;showinfo=0&amp;start=21" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<h3>Couplet</h3>
<p>A couplet is a workout structure that pairs two functional movements—in most cases, belonging to different modalities like weightlifting, gymnastics or cardio, and training different muscle groups.</p>
<p>By targeting different modalities and muscle groups, a couplet allows one area to "rest" for the while the other movement is performed.</p>

<div class="wod-box">
<h5>3 RFT</h5>
<ul>
<li>Run 800m</li>
<li>9 muscle ups</li>
</ul>
</div>

<h3>Triplet</h3>
<p>A triplet is a workout structure that pairs three functional movements. As in a couplet, these exercises should be complementary.</p>
<p>A common triplet might consist of one weightlifting exercise, one gymnastics movement and one cardio movement.</p>

<div class="wod-box">
<h5>21-15-9</h5>
<ul>
<li>Front squats</li>
<li>C2B</li>
<li>Run 200m</li>
</ul>
</div>

</div>
</div>
</div>