<div class="container section light glossary-section glossary-equipment" id="equipment">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">Training Equipment</h2>

    </div>
  </div>
</div>

<div class="container section text light">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">


<h3 id="q-55">KB or Kettlebell</h3>
<p>According to <a href="https://en.wikipedia.org/wiki/Kettlebell ">Wikipedia</a>, the kettlebell is a cast-iron or cast steel weight (resembling a cannonball with a handle) used to perform all types of exercises.</p>
<p>In CrossFit, kettlebells can be used in multiple ways – russian swings, american swings, goblet squats, ab twists and more.</p>

<figure class="figure">
  <%= image_tag('kettlebell', alt: "Kettlebell", class: "img-responsive") %>
  <figcaption class="figure-caption text-center">A set of kettlebells</figcaption>
</figure>


<h3 id="q-56">Pood</h3>
<p>Pood is a unit of mass equal to 16.38 kilograms, or 36.11 pounds. It was used in Russia, Belarus, and Ukraine, and it's still used when referring to kettlebell weights. For instance, a 32 kilogram kettlebell is "two pood kettlebell".</p>

<h3 id="q-57">Barbell</h3>
<p>A barbell is a long metal bar built to hold discs of varying weights attached to each end, used in olympic lifting, weightlifting, powerlifting and CrossFit.</p>
<p>The men's olympic barbell weights 20kg, or 43 pounds, while the women's olympic barbell weight 15kg or X pounds.</p>

<p>Most gyms also have lighter bars for training.</p>

<figure class="figure">
  <%= image_tag('barbell', alt: "Barbell", class: "img-responsive") %>
  <figcaption class="figure-caption text-center">A barbell in training</figcaption>
</figure>

</div>
</div>
</div>