<div class="container section light glossary-section glossary-competition" id="competition">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">CrossFit Competitions</h2>

    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">


<h3>CrossFit Open </h3>
<p>The CrossFit Open is a worldwide competition that takes place each year in which the entire CrossFit community competes for a spot in the Regionals.</p>

<p>The Open is the first step to the CrossFIt games, but not everyone who does it is an elite athlete. In 2017, more than 500,000 athletes entered to compete, most of them regular, every day gym goers who enjoy the community event.</p>

<p>It was introduced in 2011, and is held held over five weeks in February–March. The workout for the week is released on Thursday night, on a live event, and then athletes have until Monday afternoon to submit their scores via video or do the workout in front of a certified judge.</p>
<p>Open workouts are named after the year, and the sequence they were released in. For instance, the second Open workout of 2016 is called 16.2.</p>

<p>According to CrossFit.com, in "2011, 26,000 athletes signed up to compete in the Open. In 2012–2017, participation was 69,000, 138,000, 209,000, 273,000, 324,307, and 380,000 respectively."</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Male Winner</th>
      <th>Female winner</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td>2018</td>
      <td>Mat Fraser</td>
      <td>Cassidy Lance-Mchwerter</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>Mat Fraser</td>
      <td>Sara Sigmunsdottir</td>
    </tr>
        <tr class="active">
      <td>2016</td>
      <td>Noah Olsen</td>
      <td>Jamie Green</td>
    </tr>
        <tr>
      <td>2015</td>
      <td>Mat Fraser</td>
      <td>Annie Thorisdotiir</td>
    </tr>
  </tbody>
</table>

<h3>CrossFit Regionals</h3>
<p>The Crossfit Regionals is the second step on the way to the CrossFit games. Top athletes from around the world compete in their region for the opportunity to go to the Reebok CrossFit Games.</p>
<p>When doing the Open, competitors are categorized into 18 regions, depending on whether they train. This will decide in which regional someone will compete for a spot in the Games. After all Open workouts, performance is ranked and verified, and the top athletes advance to Regionals.</p>
<p>Even though regions vary every year according to performance and traction, there are usually eight Regional competitions.</p>

<h3>The CrossFit Games</h3>
<p>The CrossFit games is an athletic competition in which the top 40 men and women from around the world compete across three days to become The Fittest Man and Fittest Woman on Earth.</p>
<p>The first CrossFit Games were performed in Aromas, California on a small ranch owned by the family of Games director Dave Castro and it was open to anyone who assisted. When it started gaining traction, they introduced a qualifier and moved the Home Depot Center (later called the StubHub Center) in Carson, California. After seven years in California, the CrossFit games moved to the Alliant Energy Center in Madison, Wisconsin.</p>
<p>To compete in the Games, you first need to qualify in the Open, which takes you to Regionals. Then, the top athletes from each regional event advance to the CrossFit Games, which are held over three days in July or August.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Year</th>
      <th>Male</th>
      <th>Female </th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr class="active">
      <td>2018</td>
      <td>TBD</td>
      <td>TBD</td>
      <td>TBD</td>
    </tr>
    <tr>
      <td>2017</td>
      <td>Mat Fraser</td>
      <td>Tia Clair Toomey</td>
      <td>Cassidy Lance-Mchwerter</td>
    </tr>
        <tr class="active">
      <td>2016</td>
      <td>Mat Fraser</td>
      <td>Katrin Davidsdottir</td>
      <td>Crossfit Mayhem Freedom</td>
    </tr>
        <tr>
      <td>2015</td>
      <td>Ben Smith</td>
      <td>Katrin Davidsdottir</td>
      <td>Crossfit Mayhem Freedom</td>
    </tr>
    </tr>
        <tr class="active">
      <td>2014</td>
      <td>Rich Froning Jr.</td>
      <td>Camille Leblanc-Bazinet</td>
      <td>CrossFit Invictus</td>
    </tr>
    <tr>
      <td>2013</td>
      <td>Rich Froning Jr.</td>
      <td>Samantha Briggs</td>
      <td>Hack's Pack UTE</td>
    </tr>
        <tr class="active">
      <td>2012</td>
      <td>Rich Froning Jr.</td>
      <td>Annie Thorisdotiir</td>
      <td>Hack's Pack UTE</td>
    </tr>
        <tr>
      <td>2011</td>
      <td>Rich Froning Jr.</td>
      <td>Annie Thorisdotiir</td>
      <td>CrpssFit New England</td>
    </tr>
        <tr class="active">
      <td>2010</td>
      <td>Graham Holberg</td>
      <td>Kristan Clever</td>
      <td>CrossFit Fort Vancouver</td>
    </tr>
    <tr>
      <td>2009</td>
      <td>Mikko Salo</td>
      <td>Tanya Wagner</td>
      <td>Northwest CrossFIt</td>
    </tr>
        <tr class="active">
      <td>2008</td>
      <td>Jason Khalipa</td>
      <td>Caity Matter</td>
      <td>CrossFit Oakland</td>
    </tr>
    <tr>
      <td>2007</td>
      <td>James Fitzgerald</td>
      <td>Jolie Gentry</td>
      <td>CrossFit Santa Cruz</td>
    </tr>
  </tbody>
</table>

<h3>CrossFit Invitational</h3>

<p>The CrossFit Invitational Series is akin to the CrossFit World Cup, a competition where the best athletes from each country form teams and compete between each other.</p>
<p>Right now, the CrossFit invitational features four teams, including men and women:
</p>
<ul>
  <li>Usa</li>
  <li>Europe</li>
  <li>Pacific</li>
  <li>Canada</li>
</ul>

<h3>CrossFit Team Series</h3>

<p>Teams that compete in the CrossFit games are bound by rules — they must workout at the same gym and things of that nature. The CrossFit Team Series is more of a Fantasy-type competition where athletes from all over the world pair up into teams and compete against one another.</p>
<p> This competition is similar to the Invitational except that anyone can sign up to compete and athletes aren't regulated by what country they live in.</p>

<h3>CrossFit Lift Off Series</h3>
<p>A series similar to the Open in that it can be done in home gyms and is judged via videos. Beginning in November, athletes compete in three weightlifting events to see where they stand against other CrossFitters around the world in regards to the weight they can lift.</p>

</div>
</div>
</div>