<div class="container section light glossary-section glossary-movements" id="movements">
  <div class="columns">
    <div class="column col-xs-12 col-8 col-mx-auto">

<h2 style="text-align: center;">CrossFit Movements</h2>

    </div>
  </div>
</div>


<div class="container section text">
  <div class="columns">
    <div class="column col-xs-12 col-6 col-mx-auto">

<h3>Weightlifting</h3>

<h4>Clean</h4>


<p>
The clean is the foundation of weightlifting. It starts with the barbell on the ground, just like a deadlift, and ends when the barbell is resting on the front rack position, and the athlete is standing up.
</p>
<p>
Contrary to what you might think, the clean is executed mostly with the legs, not the arms, by extending explosively and raising the bar as high as possible before quickly dropping into a squat below the bar and receiving on the shoulders. 
</p>
<h4>Power Clean</h4>


<p>
The power clean is like a regular clean but requires the athlete to receive the bar in the power position – a slight dip that doesn't break the legs parallel – and not the squat position.
</p>
<h4>Hang Power Clean</h4>


<p>
The hang power clean is like a regular power clean, but instead of starting with the barbel on the floor, it requires the athlete to start the movement from the knees, more commonly referred as the hanging position.
</p>
<h4>Jerk</h4>


<p>
The jerk is an overhead movement that requires the athlete to start with the barbell in the front rack, and finish the movement receiving overhead with straight arms. 
</p>
<p>
<em>The lifter dips a few inches by bending the knees, keeping the back vertical, and then explosively extends the knees, propelling the barbell upward off the shoulders, and then quickly dropping underneath the bar by pushing upward with the arms and receiving the bar overhead, in a dip position.</em>
</p>
<h4>C&J </h4>


<p>
The C&J, or Clean & Jerk, combines a power clean or squat clean with a push jerk or split jerk. 
</p>
<h3>Gymnastics</h3>


<h4>MU</h4>


<p>
MU, or muscle-up is an upper-body exercise performed in the rings that requires you to combine a pull and a dip. 
</p>
<p>
A muscle up starts with the arms extended, hanging from the gymnastic rings. You then explosively pull using your arms and when the rings approach the lower chest, the body leans forward and perform a dip. A muscle up is ends when the bar is at the level of the waist and the arms are fully straight.
</p>
<p>
The muscle up is a rare beast that requires both pulling and pushing power and phenomenal core strength.
</p>
<p>
/img
</p>
<h4>BMU</h4>


<p>
The BMU, or bar muscle-up is like the aforementioned muscle up, but instead of performing it in a set of gymnastic rings, you do it in the regular pull-up bar.
</p>
<p>
The movement beings from the floor, hanging from the pull-up bar, and ends with the athlete over the bar, and the arms fully locked.
</p>
<p>
/img
</p>
<h4>HSPU</h4>


<p>
A handstand push up, or more properly, a kipping handstand push up is a dynamic movement that requires you to explode your hips up while pushing upside down, into a handstand.
</p>
<p>
A kipping handstand push-ups will allow you to get in way more volume than the strict version does.
</p>
<p>
/img
</p>
<h4>sHSPU</h4>


<p>
A strict handstand push up, unlike the kipping version, requires to perform the movement by pushing up with your arms, without using the hips. 
</p>
<p>
A true handstand pushup is technically performed free-standing. In CrossFit, both the strict and kipping handstand pushup are done against a wall.
</p>
<h3>Conditioning</h3>


<h4>T2B</h4>


<p>
You will start out with your hands a little further than shoulder-width apart on the bar. Then, you will lift your toes to touch the bar using your core muscles. You may also kip this movement. 
</p>
<h4>K2E</h4>


<p>
Knees to elbows
</p>
<h4>OHS</h4>


<p>
Completing a full squat with the barbell in the overhead position
</p>
<h4>TGU</h4>


<p>
Turkish getups
</p>
<h4>SDHP</h4>


<p>
Sumo deadlift high pull
</p>
<p>
eeping a narrow grip on the bar and your feet more than shoulder width apart, lift the bar to the middle of your chest. Your hips and shoulders should rise simultaneously and you should initiate the movement with a shrug, followed by a pull. The lift is complete when you're at full extension. For a video demonstration of a sumo deadlift high pull, click here.
</p>
<h4>HRPU</h4>


<p>
Hand release push up
</p>
<h3>Thruster</h3>


<p>
 Starting with your barbell in the front rack position, you will do a full squat and then come to full extension while pushing the bar overhead. Your feet will be shoulder-width apart and your grip should be slightly outside of your shoulders. Your elbows should not touch your knees during this movement. For a video demonstration of a thruster, click here.
</p>
<h4>PU - pullup</h4>


<p>
Kipping
</p>
<p>
Strict Pullup
</p>
<p>
Starting on the ground, hands on the bar, without kipping. up, you start underneath the rig with hands a little further than shoulder width apart on the bar. You then engage your shoulders, core, lats and delts and pull yourself over the bar. For a video demonstration of a pull up, click here.
</p>
<p>
Push Up – You start out flat on the ground with each shoulder a little outside of each shoulder with your palms flat against the ground. You then engage your core and glutes and push your body up off the ground while staying tight and parallel before lowering yourself back down. For a video demonstration of a push up, click here.
</p>
<h4>DL - deadlift</h4>


<p>
The deadlift is a weight training exercise in which a loaded barbell or bar is lifted off the ground to the level of the hips, then lowered to the ground.[1] It is one of the three powerlifting exercises, along with the squat and bench press.
</p>
<h4>BS</h4>


<p>
Back squar Completing a full squat with the barbell resting on the back of your shoulders.
</p>
<p>
the squat is a compound, full body exercise that trains primarily the muscles of the thighs, hips and buttocks, quadriceps femoris muscle (vastus lateralis, vastus medialis, vastus intermedius and rectus femoris), hamstrings, as well as strengthening the bones, ligaments and insertion of the tendons throughout the lower body. Squats are considered a vital exercise for increasing the strength and size of the legs as well as developing core strength. Isometrically, the lower back, the upper back, the abdominals, the trunk muscles, the costal muscles, and the shoulders and arms are all essential to the exercise and thus are trained when squatting with the proper form.[1] 
</p>
<h4>FS</h4>


<p>
Front squat. Completing a full squat with the barbell in the front rack position. 
</p>
<h4>BP - bench press</h4>


<p>
A man performs a barbell bench press while another spots him.
</p>
<p>
The bench press is an upper body strength training exercise that consists of pressing a weight upwards from a supine position. The exercise works the pectoralis major as well as supporting chest, arm, and shoulder muscles such as the anterior deltoids, serratus anterior, coracobrachialis, scapulae fixers, trapezii, and the triceps. A barbell is generally used to hold the weight, but a pair of dumbbells can also be used.[1]
</p>
<h4>Power Snatch –</h4>


<p>
he bar will start on the ground and you will grip it with a wide grip, also known as a snatch grip, while positioning your feet shoulder width apart. You will perform a slow pull to mid-thigh, where you will then "explode" and throw your hips forward, dropping quickly underneath the bar and then pressing it out overhead. You should use a hook grip for this lift. F
</p>
<p>
Kipping
</p>
<h4><strong>Hang Position</strong> – Starting a lift from the knees.</h4>


<h4><strong>High Hang Position</strong> – Starting a lift from the hip pocket.</h4>


<h4>DUs - double unders</h4>


<p>
Like a regulr jump rope, but swinging the ropes two times for every jump.
</p>
<h4>Pistols</h4>


<p>
 You will start in the standing position and then slowly (or quickly if you're good at them) drop down on one foot while keeping the other leg straight and extended in front of you, and then stand back up. For a video demonstration of a pistol, click here.
</p>
<h4>C2B</h4>


<p>
Chest to bat is like Chest to Bar Pull Up – Like the name suggests, this is a pull up where your chest much touch the bar for the rep to count.
</p>
<h4>GTOH</h4>


<p>
Ground to overhead
</p>
<h4>STOH</h4>


<p>
Shoulder to over head
</p>
<h4>KBS or RKBS</h4>


<p>
A Russian kettle bell is a movement where you begin with your feet hip-width apart. You grasp the kettle bell by its handle with both hands and hang it between your legs. Then, you thrust your hips forward and use the momentum to swing the kettle bell to eye level before dropping it between your legs again. Your spine should stay neutral and your force should come from your hips and quads.
</p>
<h4>AKBS or AMS</h4>


<p>
 A kettle bell is actually a piece of equipment, but when CrossFitters refer to kettle bells in a WOD, they are referring to a movement where you begin with your feet hip-width apart. You grasp the kettle bell by its handle with both hands and hang it between your legs. Then, you thrust your hips forward and use the momentum to swing the kettle bell over your head. For a video demonstration of a kettle bell, click  here.
</p>
<h4>Ring dips</h4>


<p>
Ring Dips – Performed by holding yourself up on gymnastic rings and then dipping, or bringing your shoulders to your hands.
</p>
<h4>Rope climb</h4>


<p>
 Climbing a rope. Think of high school gym days.
</p>
<h4>Shoulder press</h4>


<p>
 Moving the bar from the front rack position to overhead without bending your knees or using your legs.
</p>
<h4>Push press</h4>


<p>
The push press is a powerful strength-training move that targets your shoulders, using a kickstart from your hips and thighs. Olympic lifters often use the move to complement their training, as it can improve technique and power in the snatch and clean and jerk. 
</p>
<p>
Box Jumps – For a box jump over, you will start on the ground with your feet shoulder width apart. Boxes come in various sizes, the most common being 12 inches, 20 inches, 24 inches and 30 inches. To complete a box jump, you will start on one side of the box and jump on top of it, landing with both feet and standing all the way up with your hips fully extended. For a video demonstration for how to do a box jump, click here.
</p>
<p>
Box Jump Overs – For a box jump over, you will start on the ground with your feet shoulder width apart.Boxes come in various sizes, the most common being 12 inches, 20 inches, 24 inches and 30 inches. You will jump on the top of the box, making sure both feet touch before stepping or hopping down to the other side. In a box jump over, a full hip extension is not required.
</p>
<p>
your hands on the ground in front of you shoulder width apart, pulling your body down to a pull up position. Your chest and thighs must touch the floor and your feet cannot come off the ground unless you are modifying the burpee. You will then jump and bring your feet to your hands before jumping. Although you will end up in a full standing position, a burpee is not considered valid if you do not jump as you come up off the floor and clap your hands above your head. For a video demonstration of a burpee, click here.
</p>
<p>
Burpee Box Jumps – Do a burpee and then jump onto the box and over to the other side for one rep. Full extension is not required at the top of the box unless otherwise specified in the WOD or by your coach.
</p>
<p>
GHD Sit Ups – Short for glute/ham developer, most CrossFit gyms have GHD machines, which you'll use for GHD sit ups, hip extensions and back extensions. For a video demonstration of a GHD sit up, click here.
</p>
<p>
Goblet Squat – completing an air squat while holding a kettlebell or dumbell at the center of your chest
</p>
<p>
all Balls – To perform a wall ball, you will start below your target with your feet shoulder-width apart. You will take a large med ball and hold it between your hands in front of your face. Without dropping your shoulders or chest, you will perform a full squat and then go immediately back into the standing position while throwing the ball at the target. For a video demonstration of wall balls, click here.
</p>
<h4>Snatch</h4>


<p>
The objective of the snatch is to lift the barbell from the ground to overhead in one continuous motion. There are four main styles of snatch used: squat snatch (or full snatch), split snatch, power snatch, and muscle snatch. The squat snatch and split snatch are the most common styles used in competition while power snatch and muscle snatch are mostly used for training purposes.
</p>
<p>
In the squat snatch, the lifter lifts the bar as high as possible and pulls themselves under it in a squat position, receiving the bar overhead with the arms straight, decreasing the necessary height of the bar, therefore increasing the amount of weight that the lifter may successfully lift.
</p>
<p>
In the split snatch, the lifter lifts the bar as high as possible and pulls themselves under the bar similar to the squat snatch but in the split snatch the lifter "splits" his legs, placing one foot in front of them and one behind, allowing themselves to receive the bar lower as in the squat snatch. The split snatch has become much less common with the increased popularity of the squat snatch but is occasionally performed by some lifters.
</p>
<p>
In the power snatch, the lifter lifts the barbell as high as possible and receives the bar overhead with only a slight bend in the knee and hip, increasing the height that the bar must be lifted and decreasing the amount of weight that may be successfully lifted.
</p>
<h4>Kipping</h4>


<p>
Kipping means you buck or jerk with your whole body to increase the momentum up to the bar. Please read some of the other posts for some great descriptions and watch some of the video clips. 
</p>

</div>
</div>
</div>