<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Rounds For Time: Find The Best Crossfit Box Near You</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="A carefully curated list of the best Crossfit box in over 50 cities across the United States and around the world.">
    <meta name="viewport" content="width=devide-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  </head>

  <body>

    <header class="navbar">
      <section class="navbar-section">
        <a href="#" class="navbar-brand mr-2">Rounds for Time</a>
      </section>
      <section class="navbar-section">
            <a href="#" class="btn btn-link">Gyms</a>
        <a href="https://github.com/picturepan2/spectre" class="btn btn-link">Crossfit Glossary</a>
      </section>
    </header>

    <br />

    <main class="content">
          <%= yield %>
    </main>

    <br />

    <footer class="footer">
      Made with <i class="em em-blue_heart"></i> and lots of <i class="em em-coffee"></i> in Paris<br/><span class="footer-note"><i>Rounds for Time © 2018</i></span>
    </footer>

  </body>
</html>
